.top
    .top__bg
        +picture('project-bg','jpg')
    .container 
            +breadcrumb(['Home'], 'Our projects')
    .container.top__content
       
            h1 Our projects
            p  The ability to scan ground to depths of 200-300 meters, which does not violate the principle
                br
                | of profiling, the speed of measurements made in combination
    .top__down
        <svg width="32" height="18" viewBox="0 0 32 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2 2L16 16L30 2" stroke="white" stroke-width="2" stroke-linecap="square"/>
        </svg>