.top {
	min-height: calc(var(--vh, 1vh) * 100);
	display: flex;
	flex-direction: column;
	padding-top: 158px;
	padding-bottom: 84px;
	position: relative;
	margin-bottom: 130px;
	margin-top: -158px;
	@media (max-width: 992px) {
		padding-bottom: 0;
		margin-bottom: 80px;
		margin-top: -100px;
	}
	.container {
		width: 100%;
	}
	&__content {
		margin-top: auto;
		margin-bottom: auto;
		h1,
		.h1 {
			&._big {
				font-weight: 700;
				font-size: 128px;
				line-height: 121.6%;
				text-align: center;
				letter-spacing: 6px;
				margin-bottom: 0;
				@media (max-width: 1024px) {
					font-size: 100px;
				}
				@media (max-width: 800px) {
					font-size: 80px;
				}
				@media (max-width: 600px) {
					font-size: 40px;
				}
			}
		}
		p {
			max-width: 700px;
			margin-left: auto;
			display: block;
			margin-right: auto;
		}
		.btn-square {
			margin-left: auto;
			margin-right: auto;
			margin-top: 40px;

			display: inline-block;
			color: $blue;
			border-color: $blue;
			&:hover {
				color: #fff;
			}
			._top-bg & {
				border-color: #fff;
				color: #fff;
				&:hover {
					border-color: $blue;
				}
			}
		}
	}
	&__circles {
		position: absolute;
		bottom: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-image: url("data:image/svg+xml,%3Csvg width='1207' height='371' viewBox='0 0 1207 371' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M603.589 349.556C463.509 349.556 349.543 463.522 349.543 603.602C349.543 743.681 463.509 857.648 603.589 857.648C743.669 857.648 857.623 743.681 857.623 603.602C857.623 463.522 743.657 349.556 603.589 349.556ZM603.589 847.548C469.07 847.548 359.632 738.109 359.632 603.59C359.632 469.071 469.07 359.633 603.589 359.633C738.108 359.633 847.547 469.071 847.547 603.59C847.547 738.109 738.108 847.548 603.589 847.548Z' fill='%23F9F9F9'/%3E%3Cpath d='M603.591 302.996C437.844 302.996 302.996 437.843 302.996 603.59C302.996 769.337 437.844 904.185 603.591 904.185C769.338 904.185 904.185 769.337 904.185 603.59C904.185 437.843 769.338 302.996 603.591 302.996ZM603.591 894.096C443.404 894.096 313.085 763.777 313.085 603.59C313.085 443.404 443.404 313.084 603.591 313.084C763.777 313.084 894.097 443.404 894.097 603.59C894.097 763.777 763.777 894.096 603.591 894.096Z' fill='%23F9F9F9'/%3E%3Cpath d='M603.59 0.383057C270.981 0.383057 0.382812 270.982 0.382812 603.59C0.382812 936.199 270.981 1206.8 603.59 1206.8C936.198 1206.8 1206.8 936.199 1206.8 603.59C1206.8 270.982 936.198 0.383057 603.59 0.383057ZM603.59 1196.7C276.542 1196.7 10.4715 930.626 10.4715 603.578C10.4715 276.53 276.542 10.4717 603.59 10.4717C930.638 10.4717 1196.71 276.542 1196.71 603.59C1196.71 930.638 930.638 1196.71 603.59 1196.71V1196.7Z' fill='%23F9F9F9'/%3E%3Cpath d='M603.589 23.6692C283.814 23.6692 23.668 283.827 23.668 603.59C23.668 923.353 283.826 1183.51 603.589 1183.51C923.352 1183.51 1183.51 923.353 1183.51 603.59C1183.51 283.827 923.364 23.6692 603.589 23.6692ZM603.589 1173.43C289.375 1173.43 33.7449 917.805 33.7449 603.602C33.7449 289.399 289.386 33.7578 603.589 33.7578C917.792 33.7578 1173.42 289.388 1173.42 603.59C1173.42 917.793 917.792 1173.42 603.589 1173.42V1173.43Z' fill='%23F9F9F9'/%3E%3Cpath d='M603.59 46.9434C296.649 46.9434 46.9434 296.661 46.9434 603.59C46.9434 910.519 296.649 1160.24 603.59 1160.24C910.531 1160.24 1160.24 910.519 1160.24 603.59C1160.24 296.661 910.519 46.9434 603.59 46.9434ZM603.59 1150.15C302.221 1150.15 57.032 904.959 57.032 603.59C57.032 302.221 302.221 57.032 603.59 57.032C904.959 57.032 1150.15 302.221 1150.15 603.59C1150.15 904.959 904.959 1150.15 603.59 1150.15Z' fill='%23F9F9F9'/%3E%3Cpath d='M603.589 70.2175C309.482 70.2175 70.2168 309.483 70.2168 603.59C70.2168 897.697 309.482 1136.96 603.589 1136.96C897.697 1136.96 1136.96 897.697 1136.96 603.59C1136.96 309.483 897.697 70.2175 603.589 70.2175ZM603.589 1126.87C315.054 1126.87 80.3054 892.125 80.3054 603.59C80.3054 315.055 315.054 80.3062 603.589 80.3062C892.124 80.3062 1126.87 315.055 1126.87 603.59C1126.87 892.125 892.124 1126.87 603.589 1126.87Z' fill='%23F9F9F9'/%3E%3Cpath d='M603.59 93.4919C322.328 93.4919 93.4922 322.316 93.4922 603.59C93.4922 884.864 322.317 1113.69 603.59 1113.69C884.864 1113.69 1113.69 884.864 1113.69 603.59C1113.69 322.316 884.864 93.4919 603.59 93.4919ZM603.59 1103.59C327.889 1103.59 103.581 879.292 103.581 603.578C103.581 327.865 327.889 103.581 603.59 103.581C879.292 103.581 1103.6 327.877 1103.6 603.59C1103.6 879.303 879.304 1103.6 603.59 1103.6V1103.59Z' fill='%23F9F9F9'/%3E%3Cpath d='M603.59 116.778C335.161 116.778 116.777 335.162 116.777 603.59C116.777 872.018 335.161 1090.4 603.59 1090.4C872.018 1090.4 1090.4 872.018 1090.4 603.59C1090.4 335.162 872.018 116.778 603.59 116.778ZM1080.31 603.59C1080.31 866.458 866.457 1080.31 603.59 1080.31C340.722 1080.31 126.866 866.458 126.866 603.59C126.866 340.722 340.722 126.866 603.59 126.866C866.457 126.866 1080.31 340.722 1080.31 603.59Z' fill='%23F9F9F9'/%3E%3Cpath d='M603.591 140.052C347.996 140.052 140.053 347.996 140.053 603.59C140.053 859.185 347.996 1067.13 603.591 1067.13C859.185 1067.13 1067.13 859.185 1067.13 603.59C1067.13 347.996 859.185 140.052 603.591 140.052ZM1057.04 603.59C1057.04 853.624 853.625 1057.04 603.591 1057.04C353.557 1057.04 150.141 853.624 150.141 603.59C150.141 353.556 353.557 150.141 603.591 150.141C853.625 150.141 1057.04 353.556 1057.04 603.59Z' fill='%23F9F9F9'/%3E%3Cpath d='M603.59 163.326C360.829 163.326 163.326 360.829 163.326 603.59C163.326 846.351 360.829 1043.85 603.59 1043.85C846.351 1043.85 1043.85 846.351 1043.85 603.59C1043.85 360.829 846.351 163.326 603.59 163.326ZM1033.76 603.59C1033.76 840.79 840.79 1033.77 603.59 1033.77C366.389 1033.77 173.415 840.79 173.415 603.59C173.415 366.39 366.389 173.415 603.59 173.415C840.79 173.415 1033.76 366.39 1033.76 603.59Z' fill='%23F9F9F9'/%3E%3Cpath d='M603.589 186.612C373.662 186.612 186.611 373.674 186.611 603.602C186.611 833.529 373.674 1020.59 603.589 1020.59C833.504 1020.59 1020.57 833.529 1020.57 603.602C1020.57 373.674 833.504 186.612 603.589 186.612ZM603.589 1010.49C379.222 1010.49 196.7 827.957 196.7 603.59C196.7 379.223 379.234 196.689 603.589 196.689C827.944 196.689 1010.48 379.223 1010.48 603.59C1010.48 827.957 827.944 1010.49 603.589 1010.49Z' fill='%23F9F9F9'/%3E%3Cpath d='M603.59 209.887C386.497 209.887 209.887 386.508 209.887 603.59C209.887 820.672 386.497 997.294 603.59 997.294C820.684 997.294 997.294 820.672 997.294 603.59C997.294 386.508 820.672 209.887 603.59 209.887ZM603.59 987.205C392.057 987.205 219.975 815.111 219.975 603.59C219.975 392.069 392.069 219.975 603.59 219.975C815.111 219.975 987.205 392.069 987.205 603.59C987.205 815.111 815.111 987.205 603.59 987.205Z' fill='%23F9F9F9'/%3E%3Cpath d='M603.589 233.161C399.329 233.161 233.16 399.33 233.16 603.59C233.16 807.85 399.329 974.019 603.589 974.019C807.849 974.019 974.018 807.85 974.018 603.59C974.018 399.33 807.849 233.161 603.589 233.161ZM603.589 963.931C404.902 963.931 243.249 802.278 243.249 603.59C243.249 404.902 404.902 243.25 603.589 243.25C802.277 243.25 963.93 404.902 963.93 603.59C963.93 802.278 802.289 963.931 603.589 963.931Z' fill='%23F9F9F9'/%3E%3Cpath d='M603.59 256.435C412.164 256.435 256.436 412.164 256.436 603.59C256.436 795.016 412.164 950.745 603.59 950.745C795.016 950.745 950.745 795.016 950.745 603.59C950.745 412.164 795.016 256.435 603.59 256.435ZM940.657 603.59C940.657 789.444 789.456 940.656 603.59 940.656C417.725 940.656 266.524 789.456 266.524 603.59C266.524 417.724 417.725 266.524 603.59 266.524C789.456 266.524 940.657 417.724 940.657 603.59Z' fill='%23F9F9F9'/%3E%3Cpath d='M603.59 279.721C425.009 279.721 279.721 425.009 279.721 603.59C279.721 782.171 425.009 927.459 603.59 927.459C782.17 927.459 927.459 782.171 927.459 603.59C927.459 425.009 782.17 279.721 603.59 279.721ZM603.59 917.382C430.569 917.382 289.809 776.622 289.809 603.602C289.809 430.582 430.569 289.822 603.59 289.822C776.61 289.822 917.37 430.582 917.37 603.602C917.37 776.622 776.61 917.382 603.59 917.382Z' fill='%23F9F9F9'/%3E%3Cpath d='M603.59 326.27C450.677 326.27 326.27 450.677 326.27 603.59C326.27 756.503 450.677 880.911 603.59 880.911C756.503 880.911 880.91 756.503 880.91 603.59C880.91 450.677 756.503 326.27 603.59 326.27ZM603.59 870.822C456.237 870.822 336.358 750.943 336.358 603.59C336.358 456.237 456.237 336.358 603.59 336.358C750.943 336.358 870.822 456.237 870.822 603.59C870.822 750.943 750.943 870.822 603.59 870.822Z' fill='%23F9F9F9'/%3E%3C/svg%3E%0A");
		background-position: center bottom;
		background-repeat: no-repeat;
		._top-bg & {
			background-image: url("data:image/svg+xml,%3Csvg width='1207' height='371' viewBox='0 0 1207 371' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M603.589 349.556C463.509 349.556 349.543 463.522 349.543 603.602C349.543 743.681 463.509 857.648 603.589 857.648C743.669 857.648 857.623 743.681 857.623 603.602C857.623 463.522 743.657 349.556 603.589 349.556V349.556ZM603.589 847.548C469.07 847.548 359.632 738.109 359.632 603.59C359.632 469.071 469.07 359.633 603.589 359.633C738.108 359.633 847.547 469.071 847.547 603.59C847.547 738.109 738.108 847.548 603.589 847.548Z' fill='%23F9F9F9'/%3E%3Cpath d='M603.591 302.996C437.844 302.996 302.996 437.843 302.996 603.59C302.996 769.337 437.844 904.185 603.591 904.185C769.338 904.185 904.185 769.337 904.185 603.59C904.185 437.843 769.338 302.996 603.591 302.996V302.996ZM603.591 894.096C443.404 894.096 313.085 763.777 313.085 603.59C313.085 443.404 443.404 313.084 603.591 313.084C763.777 313.084 894.097 443.404 894.097 603.59C894.097 763.777 763.777 894.096 603.591 894.096Z' fill='%23F9F9F9'/%3E%3Cpath d='M603.59 0.383057C270.981 0.383057 0.382812 270.982 0.382812 603.59C0.382812 936.199 270.981 1206.8 603.59 1206.8C936.198 1206.8 1206.8 936.199 1206.8 603.59C1206.8 270.982 936.198 0.383057 603.59 0.383057ZM603.59 1196.7C276.542 1196.7 10.4715 930.626 10.4715 603.578C10.4715 276.53 276.542 10.4717 603.59 10.4717C930.638 10.4717 1196.71 276.542 1196.71 603.59C1196.71 930.638 930.638 1196.71 603.59 1196.71V1196.7Z' fill='%23F9F9F9'/%3E%3Cpath d='M603.589 23.6692C283.814 23.6692 23.668 283.827 23.668 603.59C23.668 923.353 283.826 1183.51 603.589 1183.51C923.352 1183.51 1183.51 923.353 1183.51 603.59C1183.51 283.827 923.364 23.6692 603.589 23.6692ZM603.589 1173.43C289.375 1173.43 33.7449 917.805 33.7449 603.602C33.7449 289.399 289.386 33.7578 603.589 33.7578C917.792 33.7578 1173.42 289.388 1173.42 603.59C1173.42 917.793 917.792 1173.42 603.589 1173.42V1173.43Z' fill='%23F9F9F9'/%3E%3Cpath d='M603.59 46.9434C296.649 46.9434 46.9434 296.661 46.9434 603.59C46.9434 910.519 296.649 1160.24 603.59 1160.24C910.531 1160.24 1160.24 910.519 1160.24 603.59C1160.24 296.661 910.519 46.9434 603.59 46.9434V46.9434ZM603.59 1150.15C302.221 1150.15 57.032 904.959 57.032 603.59C57.032 302.221 302.221 57.032 603.59 57.032C904.959 57.032 1150.15 302.221 1150.15 603.59C1150.15 904.959 904.959 1150.15 603.59 1150.15V1150.15Z' fill='%23F9F9F9'/%3E%3Cpath d='M603.589 70.2177C309.482 70.2177 70.2168 309.483 70.2168 603.59C70.2168 897.697 309.482 1136.96 603.589 1136.96C897.697 1136.96 1136.96 897.697 1136.96 603.59C1136.96 309.483 897.697 70.2177 603.589 70.2177V70.2177ZM603.589 1126.87C315.054 1126.87 80.3054 892.125 80.3054 603.59C80.3054 315.055 315.054 80.3063 603.589 80.3063C892.124 80.3063 1126.87 315.055 1126.87 603.59C1126.87 892.125 892.124 1126.87 603.589 1126.87V1126.87Z' fill='%23F9F9F9'/%3E%3Cpath d='M603.59 93.4919C322.328 93.4919 93.4922 322.316 93.4922 603.59C93.4922 884.864 322.317 1113.69 603.59 1113.69C884.864 1113.69 1113.69 884.864 1113.69 603.59C1113.69 322.316 884.864 93.4919 603.59 93.4919V93.4919ZM603.59 1103.59C327.889 1103.59 103.581 879.292 103.581 603.578C103.581 327.865 327.889 103.581 603.59 103.581C879.292 103.581 1103.6 327.877 1103.6 603.59C1103.6 879.303 879.304 1103.6 603.59 1103.6V1103.59Z' fill='%23F9F9F9'/%3E%3Cpath d='M603.59 116.778C335.161 116.778 116.777 335.162 116.777 603.59C116.777 872.018 335.161 1090.4 603.59 1090.4C872.018 1090.4 1090.4 872.018 1090.4 603.59C1090.4 335.162 872.018 116.778 603.59 116.778V116.778ZM1080.31 603.59C1080.31 866.458 866.457 1080.31 603.59 1080.31C340.722 1080.31 126.866 866.458 126.866 603.59C126.866 340.722 340.722 126.866 603.59 126.866C866.457 126.866 1080.31 340.722 1080.31 603.59V603.59Z' fill='%23F9F9F9'/%3E%3Cpath d='M603.591 140.052C347.996 140.052 140.053 347.995 140.053 603.59C140.053 859.185 347.996 1067.13 603.591 1067.13C859.185 1067.13 1067.13 859.185 1067.13 603.59C1067.13 347.995 859.185 140.052 603.591 140.052V140.052ZM1057.04 603.59C1057.04 853.624 853.625 1057.04 603.591 1057.04C353.557 1057.04 150.141 853.624 150.141 603.59C150.141 353.556 353.557 150.141 603.591 150.141C853.625 150.141 1057.04 353.556 1057.04 603.59V603.59Z' fill='%23F9F9F9'/%3E%3Cpath d='M603.59 163.326C360.829 163.326 163.326 360.829 163.326 603.59C163.326 846.351 360.829 1043.85 603.59 1043.85C846.351 1043.85 1043.85 846.351 1043.85 603.59C1043.85 360.829 846.351 163.326 603.59 163.326V163.326ZM1033.76 603.59C1033.76 840.79 840.79 1033.77 603.59 1033.77C366.389 1033.77 173.415 840.79 173.415 603.59C173.415 366.39 366.389 173.415 603.59 173.415C840.79 173.415 1033.76 366.39 1033.76 603.59V603.59Z' fill='%23F9F9F9'/%3E%3Cpath d='M603.589 186.612C373.662 186.612 186.611 373.675 186.611 603.602C186.611 833.529 373.674 1020.59 603.589 1020.59C833.504 1020.59 1020.57 833.529 1020.57 603.602C1020.57 373.675 833.504 186.612 603.589 186.612V186.612ZM603.589 1010.49C379.222 1010.49 196.7 827.957 196.7 603.59C196.7 379.223 379.234 196.689 603.589 196.689C827.944 196.689 1010.48 379.223 1010.48 603.59C1010.48 827.957 827.944 1010.49 603.589 1010.49Z' fill='%23F9F9F9'/%3E%3Cpath d='M603.59 209.887C386.497 209.887 209.887 386.508 209.887 603.59C209.887 820.672 386.497 997.294 603.59 997.294C820.684 997.294 997.294 820.672 997.294 603.59C997.294 386.508 820.672 209.887 603.59 209.887V209.887ZM603.59 987.205C392.057 987.205 219.975 815.111 219.975 603.59C219.975 392.069 392.069 219.975 603.59 219.975C815.111 219.975 987.205 392.069 987.205 603.59C987.205 815.111 815.111 987.205 603.59 987.205Z' fill='%23F9F9F9'/%3E%3Cpath d='M603.589 233.161C399.329 233.161 233.16 399.33 233.16 603.59C233.16 807.85 399.329 974.019 603.589 974.019C807.849 974.019 974.018 807.85 974.018 603.59C974.018 399.33 807.849 233.161 603.589 233.161ZM603.589 963.931C404.902 963.931 243.249 802.278 243.249 603.59C243.249 404.903 404.902 243.25 603.589 243.25C802.277 243.25 963.93 404.903 963.93 603.59C963.93 802.278 802.289 963.931 603.589 963.931V963.931Z' fill='%23F9F9F9'/%3E%3Cpath d='M603.59 256.435C412.164 256.435 256.436 412.164 256.436 603.59C256.436 795.016 412.164 950.745 603.59 950.745C795.017 950.745 950.745 795.016 950.745 603.59C950.745 412.164 795.017 256.435 603.59 256.435V256.435ZM940.657 603.59C940.657 789.444 789.456 940.656 603.59 940.656C417.725 940.656 266.524 789.456 266.524 603.59C266.524 417.724 417.725 266.524 603.59 266.524C789.456 266.524 940.657 417.724 940.657 603.59Z' fill='%23F9F9F9'/%3E%3Cpath d='M603.59 279.721C425.009 279.721 279.721 425.009 279.721 603.59C279.721 782.171 425.009 927.459 603.59 927.459C782.17 927.459 927.459 782.171 927.459 603.59C927.459 425.009 782.17 279.721 603.59 279.721V279.721ZM603.59 917.382C430.569 917.382 289.809 776.622 289.809 603.602C289.809 430.582 430.569 289.822 603.59 289.822C776.61 289.822 917.37 430.582 917.37 603.602C917.37 776.622 776.61 917.382 603.59 917.382Z' fill='%23F9F9F9'/%3E%3Cpath d='M603.59 326.27C450.677 326.27 326.27 450.677 326.27 603.59C326.27 756.503 450.677 880.911 603.59 880.911C756.503 880.911 880.91 756.503 880.91 603.59C880.91 450.677 756.503 326.27 603.59 326.27ZM603.59 870.822C456.237 870.822 336.358 750.943 336.358 603.59C336.358 456.237 456.237 336.358 603.59 336.358C750.943 336.358 870.822 456.237 870.822 603.59C870.822 750.943 750.943 870.822 603.59 870.822V870.822Z' fill='%23F9F9F9'/%3E%3C/svg%3E%0A");
			background-position: center bottom;
			background-repeat: no-repeat;
			opacity: 0.1;
		}
		img {
			position: absolute;
			left: 50%;
			height: 45%;
			min-width: 700px;
			max-width: initial;
			transform: translateX(-50%);
			bottom: 0;
		}
	}
	&__bg {
		position: absolute;
		left: 50%;
		top: 0;
		transform: translateX(-50%);
		width: 100vw;
		height: 100%;
		img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: 1;
		}
		&::before {
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			content: "";
			background: rgba(0, 0, 0, 0.4);
			z-index: 2;
			width: 100%;
			height: 100%;
		}
		&::after {
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			content: "";
			background: linear-gradient(
				180deg,
				rgba(0, 0, 0, 0.5) 0%,
				rgba(0, 0, 0, 0) 100%
			);
			z-index: 4;
			width: 100%;
			height: 235px;
		}
	}
	&__circle {
		position: absolute;
		left: 0px;
		width: calc(100% - 0px);
		bottom: 0;
		z-index: 1;

		@media (min-width: 1300px) {
			width: 1300px;
			left: 50%;
			margin-left: -650px;
		}
		@media (max-width: 992px) {
			width: 160vh;
			padding-bottom: 0;
			left: 50%;
			max-width: initial;
			margin-left: -80vh;
		}
	}
	&__content {
		margin: auto 0;
		position: relative;
		z-index: 2;
	}
	h1,
	.h1,
	.title {
		text-align: center;
		margin: 0 0 30px 0;
		._top-bg & {
			color: #fff;
		}
	}
	p {
		font-weight: 400;
		font-size: 16px;
		line-height: 150%;
		/* or  */

		text-align: center;
		letter-spacing: -0.02em;

		._top-bg & {
			color: #fff;
		}
	}
	&__down {
		margin-left: auto;
		margin-right: auto;
		cursor: pointer;
		margin-top: 100px;
		transition: transform 0.3s;
		&:hover {
			transform: scale(1.3);
		}
	}
}
