.footer {
	background: #2a2a29;
	&__top {
		padding: 42px 0;
		display: flex;
		flex-direction: row;
		align-items: center;
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
		@media (max-width: 1024px) {
			flex-direction: column;
			border: 0 solid;
			align-items: flex-start;
		}
	}

	&__request {
		@media (max-width: 1024px) {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 30px 0;
			border-bottom: 1px solid rgba(255, 255, 255, 0.2);
			border-top: 1px solid rgba(255, 255, 255, 0.2);
			width: 100%;
		}
	}
	&__contact {
		margin-left: auto;
		margin-right: auto;
		display: flex;
		flex-direction: row;
		align-items: center;
		@media (max-width: 1024px) {
			width: 100%;
			margin: 40px 0;
			align-items: flex-start;
		}
		&-left {
			display: flex;
			flex-direction: row;
			align-items: center;
			@media (max-width: 1024px) {
				flex-direction: column;
				text-align: left;
				gap: 10px;
				margin-right: auto;
				align-items: flex-start;
			}
		}
		&-right {
			margin-left: auto;
			display: none;
			@media (max-width: 1024px) {
				display: block;
				text-align: right;
			}
		}
	}
	&__socials {
		display: flex;
		align-items: center;
	}
	&__logo {
	}
	&__ctm {
		display: none;
		@media (max-width: 1024px) {
			display: block;
		}
		color: #fff;
		text-align: center;
		padding-bottom: 39px;
		a {
			text-decoration: none;
		}
	}

	&__divider {
		height: 13px;
		width: 2px;
		background: #fff;
		margin-left: 22px;
		margin-right: 22px;
		@media (max-width: 1024px) {
			display: none;
		}
	}
	&__phone,
	&__mail {
		font-weight: 700;
		font-size: 18px;
		line-height: 25px;
		text-decoration: none;
		text-align: right;
		letter-spacing: -0.03em;
		color: #ffffff;
		transition: color 0.4s;
		@media (max-width: 1024px) {
			font-size: 14px;
		}
		&:hover {
			color: $blue;
		}
	}

	&__social {
		margin-right: 17px;
		&:last-child {
			margin-right: 0;
		}
		svg {
			transition: fill 0.3s;
			&._vk {
				width: 26px;
			}
			&._tg {
				width: 22px;
			}
		}
		&:hover {
			svg {
				path {
					fill: $blue !important;
				}
			}
		}
	}

	&__bottom {
		padding: 32px 0;
		display: flex;
		flex-direction: row;
		align-items: center;
		@media (max-width: 1024px) {
			display: none;
		}
	}

	&__copy {
		margin-right: auto;
		@media (max-width: 1024px) {
			margin-bottom: 10px;
		}
	}
	&__copy,
	&__policy {
		font-weight: 400;
		font-size: 18px;
		letter-spacing: -0.03em;
		@include lh(18, 25);
		color: #ffffff;
		@media (max-width: 1024px) {
			font-size: 14px;
		}
	}
	&__policy {
		text-decoration: none;
		transition: color 0.3s;
		&:hover {
			color: $blue;
		}
	}
}
