footer.footer
	.container
		.footer__top
			a(href="front.html").footer__logo
				img(src='img/footer-logo.svg',alt)
			.footer__contact 
				a(href="tel:+79150881384").footer__phone +7 (915) 088-13-84
				.footer__divider 
				a(href="mailto:info@terradive.com").footer__mail info@terradive.com
				.footer__divider 
				a(href="//vk.com").footer__social
					<svg class="_vk" viewBox="0 0 26 16" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M24.6045 1.78831C24.7787 1.20436 24.6045 0.774414 23.7704 0.774414H21.0161C20.3153 0.774414 19.9921 1.14553 19.8169 1.55516C19.8169 1.55516 18.4161 4.97332 16.432 7.19362C15.7899 7.83747 15.4982 8.04175 15.1478 8.04175C14.9726 8.04175 14.7092 7.83747 14.7092 7.25245V1.78831C14.7092 1.08671 14.5161 0.774414 13.9328 0.774414H9.60154C9.16401 0.774414 8.90065 1.09955 8.90065 1.40863C8.90065 2.0728 9.89322 2.22681 9.995 4.09632V8.15832C9.995 9.04923 9.83447 9.21072 9.48402 9.21072C8.5502 9.21072 6.27861 5.77652 4.93035 1.84713C4.66909 1.08243 4.40468 0.774414 3.70065 0.774414H0.94431C0.157385 0.774414 0 1.14553 0 1.55516C0 2.28456 0.933818 5.90807 4.34907 10.7006C6.62591 13.9733 9.83132 15.7476 12.7513 15.7476C14.5025 15.7476 14.7186 15.354 14.7186 14.6749V12.2011C14.7186 11.4128 14.8844 11.2556 15.4395 11.2556C15.8487 11.2556 16.5485 11.461 18.1832 13.0385C20.0509 14.9091 20.3583 15.7476 21.4096 15.7476H24.1638C24.9508 15.7476 25.3453 15.354 25.1187 14.5754C24.8689 13.8011 23.9771 12.677 22.7946 11.3433C22.1525 10.584 21.1893 9.7658 20.8965 9.35618C20.4884 8.83105 20.6048 8.59682 20.8965 8.12945C20.8965 8.12945 24.2541 3.39579 24.6035 1.78831H24.6045Z" fill="white"/>
					</svg>
				a(href="//tg.com").footer__social
					<svg class="_tg" viewBox="0 0 23 23"   fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M23 11.324c0 6.254-5.07 11.324-11.324 11.324S.352 17.578.352 11.324 5.422 0 11.676 0 23 5.07 23 11.324ZM12.082 8.36a530.868 530.868 0 0 0-6.604 2.844c-.536.213-.817.422-.843.626-.043.345.39.481.976.665.08.026.163.051.248.08.579.187 1.356.407 1.76.415.367.008.777-.143 1.229-.453 3.084-2.082 4.676-3.134 4.776-3.157.07-.016.169-.037.235.023.066.058.06.17.053.2-.044.182-1.737 1.757-2.614 2.572-.274.254-.467.434-.507.476-.089.091-.18.179-.266.263-.538.517-.94.906.022 1.54.463.305.833.557 1.202.808.403.274.805.548 1.325.89.133.086.26.176.383.264.469.335.89.635 1.411.588.302-.029.616-.313.774-1.16.375-2.007 1.113-6.352 1.284-8.143.01-.148.004-.298-.02-.445a.478.478 0 0 0-.162-.307c-.134-.11-.344-.134-.438-.132-.426.008-1.079.235-4.224 1.543Z" fill="#fff"/></svg>
			a(href="#").btnc._white Leave a request

		.footer__bottom
			.footer__copy  © 2022 TerraDive
			a.footer__policy(href="#") Privacy Policy