.btn {
	background: #364de7;
	border-radius: 67px;
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: -0.04em;
	color: #ffffff;
	padding: 9px 15px;
	min-width: 120px;
	cursor: pointer;
	border: 0 solid;
	text-decoration: none;
	text-align: center;
	transition: background 0.3s, box-shadow 0.3s;
	&:hover {
		background: #212f8c;
		// box-shadow: inset 0 0 0 4px #364de7;
	}
	&._outline {
		background: #fff;
		color: rgba(42, 42, 41, 1);
		min-width: 34px;
		padding-left: 0;
		padding-right: 0;
		box-shadow: inset 0 0 0 1px #dadada;
		&:hover {
			background: #fff;
			box-shadow: inset 0 0 0 1px #364de7;
		}
	}
}

.btnc {
	color: $blue;
	font-weight: 800;
	font-size: 14px;
	line-height: 19px;
	letter-spacing: 6px;
	text-transform: uppercase;
	position: relative;
	display: inline-block;
	text-decoration: none;

	padding: 10px 0;
	padding-left: 50px;
	&._white {
		color: #fff;
		&::before {
			background-image: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.29289 9.29289L0.585786 10L2 11.4142L2.70711 10.7071L1.29289 9.29289ZM6 6L6.70711 6.70711L7.41421 6L6.70711 5.29289L6 6ZM2.70711 1.29289L2 0.585786L0.585786 2L1.29289 2.70711L2.70711 1.29289ZM2.70711 10.7071L6.70711 6.70711L5.29289 5.29289L1.29289 9.29289L2.70711 10.7071ZM6.70711 5.29289L2.70711 1.29289L1.29289 2.70711L5.29289 6.70711L6.70711 5.29289Z' fill='%23364DE7'/%3E%3C/svg%3E%0A");
			background-color: #fff;
			background-position: center;
			background-repeat: no-repeat;
		}
		&:hover::before {
			box-shadow: inset 0 0 0 7px #ccc;
			background-color: #fff;
			background-image: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.29289 9.29289L0.585786 10L2 11.4142L2.70711 10.7071L1.29289 9.29289ZM6 6L6.70711 6.70711L7.41421 6L6.70711 5.29289L6 6ZM2.70711 1.29289L2 0.585786L0.585786 2L1.29289 2.70711L2.70711 1.29289ZM2.70711 10.7071L6.70711 6.70711L5.29289 5.29289L1.29289 9.29289L2.70711 10.7071ZM6.70711 5.29289L2.70711 1.29289L1.29289 2.70711L5.29289 6.70711L6.70711 5.29289Z' fill='%23364DE7'/%3E%3C/svg%3E%0A");
			background-position: center;
			background-repeat: no-repeat;
		}
	}
	&::before {
		width: 37px;
		height: 37px;
		display: block;
		content: "";
		background-color: $blue;
		border-radius: 50%;
		background-image: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 10L6 6L2 2' stroke='white' stroke-width='2' stroke-linecap='square'/%3E%3C/svg%3E%0A");
		background-position: center;
		background-repeat: no-repeat;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		box-shadow: inset 0 0 0 0px $blue;
		transition: box-shadow 0.6s, background 0.2s;
	}
	&:hover::before {
		box-shadow: inset 0 0 0 7px $blue;
		background-color: #212f8c;
		background-image: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 10L6 6L2 2' stroke='white' stroke-width='2' stroke-linecap='square'/%3E%3C/svg%3E%0A");
		background-position: center;
		background-repeat: no-repeat;
	}
	// &::after {
	// 	width: 37px;
	// 	height: 37px;
	// 	display: block;
	// 	content: "";

	// 	border-radius: 50%;
	// 	position: absolute;
	// 	left: 0;
	// 	top: 50%;
	// 	transform: translateY(-50%);
	// }
}

.btn-square {
	font-weight: 700;
	font-size: 14px;
	line-height: 19px;
	letter-spacing: -0.03em;
	color: #5a6171;
	padding: 17px 23px;
	border: 1px solid #5a6171;
	transition: all 0.3s;
	cursor: pointer;
	background: transparent;
	text-decoration: none;
	&._active {
		cursor: auto;
	}
	&:hover,
	&._active {
		background: $blue;
		border-color: $blue;
		color: #fff;
	}
}

.btn-arrow {
	font-weight: 800;
	font-size: 14px;
	line-height: 19px;
	letter-spacing: -0.03em;
	text-transform: uppercase;
	padding-right: 20px;
	color: $blue;
	border: 0;
	background: transparent;
	padding-right: 0;
	cursor: pointer;
	&::after {
		transition: left 0.3s;
		margin-left: 8px;
		background-image: url("data:image/svg+xml,%3Csvg width='13' height='11' viewBox='0 0 13 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.90828 8.17748L6.20117 8.88459L7.61538 10.2988L8.32249 9.59169L6.90828 8.17748ZM11 5.49997L11.7071 6.20708L12.4142 5.49997L11.7071 4.79287L11 5.49997ZM8.32249 1.40825L7.61538 0.701143L6.20117 2.11536L6.90828 2.82246L8.32249 1.40825ZM8.32249 9.59169L11.7071 6.20708L10.2929 4.79287L6.90828 8.17748L8.32249 9.59169ZM11.7071 4.79287L8.32249 1.40825L6.90828 2.82246L10.2929 6.20708L11.7071 4.79287ZM11 4.49997H0V6.49997H11V4.49997Z' fill='%23364DE7'/%3E%3C/svg%3E%0A");
		display: inline-block;
		content: "";
		left: 0;
		width: 13px;
		height: 11px;
		position: relative;
	}
	&:hover::after {
		left: 5px;
	}
}
