extends ../../layout/layout
block title
	title terraDive
block content
		+breadcrumb(['Home'], 'Contacts')
		.contact-page
			.center 
				h1.title contacts
				.sub-title
					p Representative offices of the company:
				select.select2#contact-country
					option(value="Israel",checked) Israel
					option(value="Russia") Russia
					option(value="Armenia") Armenia
					option(value="Georgia") Georgia
				.swiper.contact-data-swiper 
					.swiper-wrapper 
						.swiper-slide(data-slide="Israel")
							.contact-data-row
								.contact-data 
									.contact-data__headline Address:
									.contact-data__body
										p 109559, Moscow, Tikhoretsky b-r, 1 p.3 Fl.3, of. 36
									
								.contact-data 
									.contact-data__headline Telephone: 
									.contact-data__body
										p  
											a(href="tel:+79150881384") +7 (915) 088-13-84
											a(href="tel:+79852576073") +7 (985) 257-60-73
									
								.contact-data 
									.contact-data__headline  WhatsApp:
									.contact-data__body
										p
											a(href="whatsapp://send?phone=79150881384&text=") +7 (915) 088-13-84
									
								.contact-data 
									.contact-data__headline Opening hours:
									.contact-data__body
										p Mon - Sun: 10:00 - 20:00
								.contact-data 
									.contact-data__headline Mail:
									.contact-data__body
										p
											a(href="mailto:info@geo-key.ru") info@geo-key.ru 
									
						.swiper-slide(data-slide="Russia")
							.contact-data-row
								.contact-data 
									.contact-data__headline Address:
									.contact-data__body
										p 109559, Moscow, Tikhoretsky b-r, 1 p.3 Fl.3, of. 36
									
								.contact-data 
									.contact-data__headline Telephone: 
									.contact-data__body
										p  
											a(href="tel:+79150881384") +7 (915) 088-13-84
											a(href="tel:+79852576073") +7 (985) 257-60-73
									
								.contact-data 
									.contact-data__headline  WhatsApp:
									.contact-data__body
										p
											a(href="whatsapp://send?phone=79150881384&text=") +7 (915) 088-13-84
									
								.contact-data 
									.contact-data__headline Opening hours:
									.contact-data__body
										p Mon - Sun: 10:00 - 20:00
								.contact-data 
									.contact-data__headline Mail:
									.contact-data__body
										p
											a(href="mailto:info@geo-key.ru") info@geo-key.ru 
									
						.swiper-slide(data-slide="Armenia")
							.contact-data-row
								.contact-data 
									.contact-data__headline Address:
									.contact-data__body
										p 109559, Moscow, Tikhoretsky b-r, 1 p.3 Fl.3, of. 36
									
								.contact-data 
									.contact-data__headline Telephone: 
									.contact-data__body
										p  
											a(href="tel:+79150881384") +7 (915) 088-13-84
											a(href="tel:+79852576073") +7 (985) 257-60-73
									
								.contact-data 
									.contact-data__headline  WhatsApp:
									.contact-data__body
										p
											a(href="whatsapp://send?phone=79150881384&text=") +7 (915) 088-13-84
									
								.contact-data 
									.contact-data__headline Opening hours:
									.contact-data__body
										p Mon - Sun: 10:00 - 20:00
								.contact-data 
									.contact-data__headline Mail:
									.contact-data__body
										p
											a(href="mailto:info@geo-key.ru") info@geo-key.ru 
									
						.swiper-slide(data-slide="Georgia")
							.contact-data-row
								.contact-data 
									.contact-data__headline Address:
									.contact-data__body
										p 109559, Moscow, Tikhoretsky b-r, 1 p.3 Fl.3, of. 36
									
								.contact-data 
									.contact-data__headline Telephone: 
									.contact-data__body
										p  
											a(href="tel:+79150881384") +7 (915) 088-13-84
											a(href="tel:+79852576073") +7 (985) 257-60-73
									
								.contact-data 
									.contact-data__headline  WhatsApp:
									.contact-data__body
										p
											a(href="whatsapp://send?phone=79150881384&text=") +7 (915) 088-13-84
									
								.contact-data 
									.contact-data__headline Opening hours:
									.contact-data__body
										p Mon - Sun: 10:00 - 20:00
								.contact-data 
									.contact-data__headline Mail:
									.contact-data__body
										p
											a(href="mailto:info@geo-key.ru") info@geo-key.ru 
				form#contact-form.contact-form(action="/",method="POST")
					.contact-form__title Contact us 
					.contact-form__row 
						.contact-form__item
							input(data-rule-required,name="fullname",type="text",placeholder="Full name")._fullname
					
						.contact-form__item
							input(data-rule-required,name="phone",type="text",placeholder="Phone")._phone._mask-phone
					
						.contact-form__item
							input(data-rule-required,name="email",type="text",placeholder="Email")._email
						.contact-form__item._span-3
							textarea(name="additionally", cols="30", rows="10",placeholder="Additionally")
					.contact-form__accept-text 
						p By clicking on the "Submit" button,
							br
							| you accept the terms of personal data processing
					button(type="submit").contact-form__btn Submit

