extends ../../layout/layout
block title
	title terraDive
block content
		+breadcrumb(['Home'], 'Blog')
		.blog-page
			img(src="img/blog-bg.svg", alt="").blog-page__bg
			.blog-page__head
				h1.title Blog
				.blog-page__head-filters
					button.blog-page__head-filter.btn-square._active(data-slideindex="0") News
					button.blog-page__head-filter.btn-square(data-slideindex="1") Articles
			.blog-page__filters
				button.blog-page__filter.btn-square._active(data-filter='All') All
				button.blog-page__filter.btn-square(data-filter='Geoengineering') Geoengineering
				button.blog-page__filter.btn-square(data-filter='Geological exploration') Geological exploration
				button.blog-page__filter.btn-square(data-filter='Archaeology') Archaeology
				button.blog-page__filter.btn-square(data-filter='Hydrogeology') Hydrogeology
				button.blog-page__filter.btn-square(data-filter='Ecology') Ecology
			.swiper.blog-type-slider 
				.swiper-wrapper 
					.swiper-slide
						.news-list
							.news-preview(data-filter='Geoengineering')
								.news-preview__content
									.news-preview__title Among the possibilities
										br
										| of the method
									p The detail of survey enables to to register small-scale features of geological structures that are inaccessible to classical methods of geophysics.
									.news-preview__bottom 
										.news-preview__date 
											color 10 
											| MAY 2022
										a(href="#").news-preview__more READ MORE
							.news-preview(data-filter='Geological exploration')
								.news-preview__content
									.news-preview__title Among the possibilities
										br
										| of the method
									p The detail of survey enables to to register small-scale features of geological structures that are inaccessible to classical methods of geophysics.
									.news-preview__bottom 
										.news-preview__date 
											color 10 
											| MAY 2022
										a(href="#").news-preview__more READ MORE
							.news-preview(data-filter='Ecology')
								.news-preview__content
									.news-preview__title Among the possibilities
										br
										| of the method
									p The detail of survey enables to to register small-scale features of geological structures that are inaccessible to classical methods of geophysics.
									.news-preview__bottom 
										.news-preview__date 
											color 10 
											| MAY 2022
										a(href="#").news-preview__more READ MORE
							.news-preview(data-filter='Archaeology')
								.news-preview__content
									.news-preview__title Among the possibilities
										br
										| of the method
									p The detail of survey enables to to register small-scale features of geological structures that are inaccessible to classical methods of geophysics.
									.news-preview__bottom 
										.news-preview__date 
											color 10 
											| MAY 2022
										a(href="#").news-preview__more READ MORE
							.news-preview(data-filter='Hydrogeology')
								.news-preview__content
									.news-preview__title Among the possibilities
										br
										| of the method
									p The detail of survey enables to to register small-scale features of geological structures that are inaccessible to classical methods of geophysics.
									.news-preview__bottom 
										.news-preview__date 
											color 10 
											| MAY 2022
										a(href="#").news-preview__more READ MORE
							.news-preview(data-filter='Geological exploration')
								.news-preview__content
									.news-preview__title Among the possibilities
										br
										| of the method
									p The detail of survey enables to to register small-scale features of geological structures that are inaccessible to classical methods of geophysics.
									.news-preview__bottom 
										.news-preview__date 
											color 10 
											| MAY 2022
										a(href="#").news-preview__more READ MORE
							.news-preview(data-filter='Archaeology')
								.news-preview__content
									.news-preview__title Among the possibilities
										br
										| of the method
									p The detail of survey enables to to register small-scale features of geological structures that are inaccessible to classical methods of geophysics.
									.news-preview__bottom 
										.news-preview__date 
											color 10 
											| MAY 2022
										a(href="#").news-preview__more READ MORE
							.news-preview(data-filter='Ecology')
								.news-preview__content
									.news-preview__title Among the possibilities
										br
										| of the method
									p The detail of survey enables to to register small-scale features of geological structures that are inaccessible to classical methods of geophysics.
									.news-preview__bottom 
										.news-preview__date 
											color 10 
											| MAY 2022
										a(href="#").news-preview__more READ MORE
							.news-preview(data-filter='Geological exploration')
								.news-preview__content
									.news-preview__title Among the possibilities
										br
										| of the method
									p The detail of survey enables to to register small-scale features of geological structures that are inaccessible to classical methods of geophysics.
									.news-preview__bottom 
										.news-preview__date 
											color 10 
											| MAY 2022
										a(href="#").news-preview__more READ MORE
							.news-preview(data-filter='Geoengineering')
								.news-preview__content
									.news-preview__title Among the possibilities
										br
										| of the method
									p The detail of survey enables to to register small-scale features of geological structures that are inaccessible to classical methods of geophysics.
									.news-preview__bottom 
										.news-preview__date 
											color 10 
											| MAY 2022
										a(href="#").news-preview__more READ MORE
							.news-preview(data-filter='Hydrogeology')
								.news-preview__content
									.news-preview__title Among the possibilities
										br
										| of the method
									p The detail of survey enables to to register small-scale features of geological structures that are inaccessible to classical methods of geophysics.
									.news-preview__bottom 
										.news-preview__date 
											color 10 
											| MAY 2022
										a(href="#").news-preview__more READ MORE
							.news-preview(data-filter='Geological exploration')
								.news-preview__content
									.news-preview__title Among the possibilities
										br
										| of the method
									p The detail of survey enables to to register small-scale features of geological structures that are inaccessible to classical methods of geophysics.
									.news-preview__bottom 
										.news-preview__date 
											color 10 
											| MAY 2022
										a(href="#").news-preview__more READ MORE
							.news-preview(data-filter='Ecology')
								.news-preview__content
									.news-preview__title Among the possibilities
										br
										| of the method
									p The detail of survey enables to to register small-scale features of geological structures that are inaccessible to classical methods of geophysics.
									.news-preview__bottom 
										.news-preview__date 
											color 10 
											| MAY 2022
										a(href="#").news-preview__more READ MORE
					
							.news-preview(data-filter='Hydrogeology')
								.news-preview__content
									.news-preview__title Among the possibilities
										br
										| of the method
									p The detail of survey enables to to register small-scale features of geological structures that are inaccessible to classical methods of geophysics.
									.news-preview__bottom 
										.news-preview__date 
											color 10 
											| MAY 2022
										a(href="#").news-preview__more READ MORE
							.news-preview(data-filter='Geological exploration')
								.news-preview__content
									.news-preview__title Among the possibilities
										br
										| of the method
									p The detail of survey enables to to register small-scale features of geological structures that are inaccessible to classical methods of geophysics.
									.news-preview__bottom 
										.news-preview__date 
											color 10 
											| MAY 2022
										a(href="#").news-preview__more READ MORE
							.news-preview(data-filter='Archaeology')
								.news-preview__content
									.news-preview__title Among the possibilities
										br
										| of the method
									p The detail of survey enables to to register small-scale features of geological structures that are inaccessible to classical methods of geophysics.
									.news-preview__bottom 
										.news-preview__date 
											color 10 
											| MAY 2022
										a(href="#").news-preview__more READ MORE
							.news-preview(data-filter='Ecology')
								.news-preview__content
									.news-preview__title Among the possibilities
										br
										| of the method
									p The detail of survey enables to to register small-scale features of geological structures that are inaccessible to classical methods of geophysics.
									.news-preview__bottom 
										.news-preview__date 
											color 10 
											| MAY 2022
										a(href="#").news-preview__more READ MORE
							.news-preview(data-filter='Geological exploration')
								.news-preview__content
									.news-preview__title Among the possibilities
										br
										| of the method
									p The detail of survey enables to to register small-scale features of geological structures that are inaccessible to classical methods of geophysics.
									.news-preview__bottom 
										.news-preview__date 
											color 10 
											| MAY 2022
										a(href="#").news-preview__more READ MORE
							.news-preview(data-filter='Geoengineering')
								.news-preview__content
									.news-preview__title Among the possibilities
										br
										| of the method
									p The detail of survey enables to to register small-scale features of geological structures that are inaccessible to classical methods of geophysics.
									.news-preview__bottom 
										.news-preview__date 
											color 10 
											| MAY 2022
										a(href="#").news-preview__more READ MORE
							.news-preview(data-filter='Hydrogeology')
								.news-preview__content
									.news-preview__title Among the possibilities
										br
										| of the method
									p The detail of survey enables to to register small-scale features of geological structures that are inaccessible to classical methods of geophysics.
									.news-preview__bottom 
										.news-preview__date 
											color 10 
											| MAY 2022
										a(href="#").news-preview__more READ MORE
							.news-preview(data-filter='Geological exploration')
								.news-preview__content
									.news-preview__title Among the possibilities
										br
										| of the method
									p The detail of survey enables to to register small-scale features of geological structures that are inaccessible to classical methods of geophysics.
									.news-preview__bottom 
										.news-preview__date 
											color 10 
											| MAY 2022
										a(href="#").news-preview__more READ MORE
							.news-preview(data-filter='Ecology')
								.news-preview__content
									.news-preview__title Among the possibilities
										br
										| of the method
									p The detail of survey enables to to register small-scale features of geological structures that are inaccessible to classical methods of geophysics.
									.news-preview__bottom 
										.news-preview__date 
											color 10 
											| MAY 2022
										a(href="#").news-preview__more READ MORE
					
					.swiper-slide
						.aticle-list 
							.aticle-month-group 
								.aticle-month-group__left 
									.aticle-month-group__month  June, 22
								.aticle-month-group__right
									.aticle-month-group__list 
										.aticle-preview(data-filter="Geoengineering")
											.aticle-preview__date 30.06
											.aticle-preview__img-wrap
												+picture('ar-1','jpg')
											.aticle-preview__content 
												.aticle-preview__title Among the possibilities of the method
												p  The detail of survey enables to to register small-scale features of geological structures that are inaccessible to classical methods of geophysics.
												a(href="#").aticle-preview__more READ MORE
										.aticle-preview(data-filter="Geological exploration")
											.aticle-preview__date 24.06
											.aticle-preview__img-wrap
												+picture('ar-2','jpg')
											.aticle-preview__content 
												.aticle-preview__title Among the possibilities of the method
												p The detail of survey enables to to register small-scale features of geological structures that are inaccessible to classical methods of geophysics.
												a(href="#").aticle-preview__more READ MORE
										.aticle-preview(data-filter="Archaeology")
											.aticle-preview__date 10.06
											.aticle-preview__img-wrap
												+picture('ar-3','jpg')
											.aticle-preview__content 
												.aticle-preview__title Among the possibilities of the method
												p The detail of survey enables to to register small-scale features of geological structures that are inaccessible to classical methods of geophysics.
												a(href="#").aticle-preview__more READ MORE
							.aticle-month-group 
								.aticle-month-group__left 
									.aticle-month-group__month  May, 22
								.aticle-month-group__right
									.aticle-month-group__list 
										.aticle-preview(data-filter="Hydrogeology")
											.aticle-preview__date 10.05
											.aticle-preview__img-wrap
												+picture('ar-4','jpg')
											.aticle-preview__content 
												.aticle-preview__title Among the possibilities of the method
												p The detail of survey enables to to register small-scale features of geological structures that are inaccessible to classical methods of geophysics.
												a(href="#").aticle-preview__more READ MORE