extends ../../layout/layout
block title
	title terraDive
block content
	.front-top.block 
		.front-top__content
			h1.front-top__title The NeoDowser device and 
				br
				color  method of impulse radar research 
			.front-top__desc 
				p  are the only set and technology of ultra-deep geo-radar exploration in the world practice. They allow to explore the geological structure of the ground at the depth till 300 m.
		.front-top__slider-wrapp
			.front-top-slider
				.swiper#front-top-slider
					.swiper-wrapper
						.swiper-slide
							.front-top-slide
								.front-top-slide__row 
									.front-top-slide__img-wrap
										+picture('front-top-slider','png')
										.front-top-slide__pagi
											span.front-top-slide__pagi-now
											span.front-top-slide__pagi-all
									.front-top-slide__content
										.front-top-slide__title Geoengineering
										.front-top-slide__body
											p The ability to scan ground to depths of 200-300 meters, which does not violate the principle of profiling, the speed of measurements made in combination
										a.front-top-slide__more(href="/") Read more
						.swiper-slide
							.front-top-slide
								.front-top-slide__row 
									.front-top-slide__img-wrap
										+picture('front-top-slider','png')
										.front-top-slide__pagi
											span.front-top-slide__pagi-now
											span.front-top-slide__pagi-all
									.front-top-slide__content
										.front-top-slide__title Geoengineering
										.front-top-slide__body
											p The ability to scan ground to depths of 200-300 meters, which does not violate the principle of profiling, the speed of measurements made in combination
										a.front-top-slide__more(href="/") Read more
						.swiper-slide
							.front-top-slide
								.front-top-slide__row 
									.front-top-slide__img-wrap
										+picture('front-top-slider','png')
										.front-top-slide__pagi
											span.front-top-slide__pagi-now
											span.front-top-slide__pagi-all
									.front-top-slide__content
										.front-top-slide__title Geoengineering
										.front-top-slide__body
											p The ability to scan ground to depths of 200-300 meters, which does not violate the principle of profiling, the speed of measurements made in combination
										a.front-top-slide__more(href="/") Read more
						.swiper-slide
							.front-top-slide
								.front-top-slide__row 
									.front-top-slide__img-wrap
										+picture('front-top-slider','png')
										.front-top-slide__pagi
										.front-top-slide__pagi
											span.front-top-slide__pagi-now
											span.front-top-slide__pagi-all
									.front-top-slide__content
										.front-top-slide__title Geoengineering
										.front-top-slide__body
											p The ability to scan ground to depths of 200-300 meters, which does not violate the principle of profiling, the speed of measurements made in combination
										a.front-top-slide__more(href="/") Read more
						.swiper-slide
							.front-top-slide
								.front-top-slide__row 
									.front-top-slide__img-wrap
										+picture('front-top-slider','png')
										.front-top-slide__pagi
											span.front-top-slide__pagi-now
											span.front-top-slide__pagi-all
									.front-top-slide__content
										.front-top-slide__title Geoengineering
										.front-top-slide__body
											p The ability to scan ground to depths of 200-300 meters, which does not violate the principle of profiling, the speed of measurements made in combination
										a.front-top-slide__more(href="/") Read more


			.front-top__slider-nav 
				.front-top__slider-nav-prev
				.front-top__slider-nav-next
		<svg id="front-top-bg" class="front-top__bg"  viewBox="0 0 1329 497" fill="none" xmlns="http://www.w3.org/2000/svg">
			
				//- <path  data-depth="0.75" d="M664.59 475.556C524.511 475.556 410.544 589.522 410.544 729.602C410.544 869.681 524.511 983.648 664.59 983.648C804.67 983.648 918.625 869.681 918.625 729.602C918.625 589.522 804.658 475.556 664.59 475.556ZM664.59 973.548C530.071 973.548 420.633 864.109 420.633 729.59C420.633 595.071 530.071 485.633 664.59 485.633C799.109 485.633 908.548 595.071 908.548 729.59C908.548 864.109 799.109 973.548 664.59 973.548Z" fill="#F9F9F9"/>
				//- <path data-depth="0.7" d="M664.59 452.27C511.677 452.27 387.27 576.677 387.27 729.59C387.27 882.503 511.677 1006.91 664.59 1006.91C817.503 1006.91 941.91 882.503 941.91 729.59C941.91 576.677 817.503 452.27 664.59 452.27ZM664.59 996.822C517.237 996.822 397.358 876.943 397.358 729.59C397.358 582.237 517.237 462.358 664.59 462.358C811.943 462.358 931.822 582.237 931.822 729.59C931.822 876.943 811.943 996.822 664.59 996.822Z" fill="#F9F9F9"/>
				//- <path data-depth="0.65" d="M664.59 428.996C498.843 428.996 363.995 563.843 363.995 729.59C363.995 895.337 498.843 1030.19 664.59 1030.19C830.337 1030.19 965.185 895.337 965.185 729.59C965.185 563.843 830.337 428.996 664.59 428.996ZM664.59 1020.1C504.403 1020.1 374.084 889.777 374.084 729.59C374.084 569.404 504.403 439.084 664.59 439.084C824.777 439.084 955.096 569.404 955.096 729.59C955.096 889.777 824.777 1020.1 664.59 1020.1Z" fill="#F9F9F9"/>
				//- <path  data-depth="0.6" d="M664.59 405.721C486.01 405.721 340.721 551.009 340.721 729.59C340.721 908.171 486.01 1053.46 664.59 1053.46C843.171 1053.46 988.459 908.171 988.459 729.59C988.459 551.009 843.171 405.721 664.59 405.721ZM664.59 1043.38C491.57 1043.38 350.81 902.622 350.81 729.602C350.81 556.582 491.57 415.822 664.59 415.822C837.61 415.822 978.371 556.582 978.371 729.602C978.371 902.622 837.61 1043.38 664.59 1043.38Z" fill="#F9F9F9"/>
				//- <path data-depth="0.55" d="M664.59 382.435C473.164 382.435 317.435 538.164 317.435 729.59C317.435 921.016 473.164 1076.75 664.59 1076.75C856.016 1076.75 1011.75 921.016 1011.75 729.59C1011.75 538.164 856.016 382.435 664.59 382.435ZM1001.66 729.59C1001.66 915.444 850.456 1066.66 664.59 1066.66C478.724 1066.66 327.524 915.456 327.524 729.59C327.524 543.724 478.724 392.524 664.59 392.524C850.456 392.524 1001.66 543.724 1001.66 729.59Z" fill="#F9F9F9"/>
				//- <path data-depth="0.5" d="M664.59 359.161C460.33 359.161 294.161 525.33 294.161 729.59C294.161 933.85 460.33 1100.02 664.59 1100.02C868.85 1100.02 1035.02 933.85 1035.02 729.59C1035.02 525.33 868.85 359.161 664.59 359.161ZM664.59 1089.93C465.903 1089.93 304.25 928.278 304.25 729.59C304.25 530.903 465.903 369.25 664.59 369.25C863.278 369.25 1024.93 530.903 1024.93 729.59C1024.93 928.278 863.29 1089.93 664.59 1089.93Z" fill="#F9F9F9"/>
				//- <path data-depth="0.45" d="M664.59 335.887C447.496 335.887 270.886 512.508 270.886 729.59C270.886 946.672 447.496 1123.29 664.59 1123.29C881.683 1123.29 1058.29 946.672 1058.29 729.59C1058.29 512.508 881.672 335.887 664.59 335.887ZM664.59 1113.2C453.057 1113.2 280.975 941.111 280.975 729.59C280.975 518.069 453.069 345.975 664.59 345.975C876.111 345.975 1048.21 518.069 1048.21 729.59C1048.21 941.111 876.111 1113.2 664.59 1113.2Z" fill="#F9F9F9"/>
				//- <path data-depth="0.4" d="M664.59 312.612C434.663 312.612 247.612 499.675 247.612 729.602C247.612 959.529 434.675 1146.59 664.59 1146.59C894.506 1146.59 1081.57 959.529 1081.57 729.602C1081.57 499.675 894.506 312.612 664.59 312.612ZM664.59 1136.49C440.223 1136.49 257.701 953.957 257.701 729.59C257.701 505.223 440.235 322.689 664.59 322.689C888.945 322.689 1071.48 505.223 1071.48 729.59C1071.48 953.957 888.945 1136.49 664.59 1136.49Z" fill="#F9F9F9"/>
				//- <path  data-depth="0.35" d="M664.59 289.326C421.829 289.326 224.326 486.829 224.326 729.59C224.326 972.351 421.829 1169.85 664.59 1169.85C907.351 1169.85 1104.85 972.351 1104.85 729.59C1104.85 486.829 907.351 289.326 664.59 289.326ZM1094.77 729.59C1094.77 966.79 901.79 1159.77 664.59 1159.77C427.39 1159.77 234.415 966.79 234.415 729.59C234.415 492.39 427.39 299.415 664.59 299.415C901.79 299.415 1094.77 492.39 1094.77 729.59Z" fill="#F9F9F9"/>
				//- <path data-depth="0.3" d="M664.59 266.052C408.995 266.052 201.052 473.995 201.052 729.59C201.052 985.185 408.995 1193.13 664.59 1193.13C920.185 1193.13 1128.13 985.185 1128.13 729.59C1128.13 473.995 920.185 266.052 664.59 266.052ZM1118.04 729.59C1118.04 979.624 914.624 1183.04 664.59 1183.04C414.556 1183.04 211.141 979.624 211.141 729.59C211.141 479.556 414.556 276.141 664.59 276.141C914.624 276.141 1118.04 479.556 1118.04 729.59Z" fill="#F9F9F9"/>
				//- <path  data-depth="0.25" d="M664.59 242.778C396.162 242.778 177.778 461.162 177.778 729.59C177.778 998.018 396.162 1216.4 664.59 1216.4C933.019 1216.4 1151.4 998.018 1151.4 729.59C1151.4 461.162 933.019 242.778 664.59 242.778ZM1141.31 729.59C1141.31 992.458 927.458 1206.31 664.59 1206.31C401.722 1206.31 187.867 992.458 187.867 729.59C187.867 466.722 401.722 252.866 664.59 252.866C927.458 252.866 1141.31 466.722 1141.31 729.59Z" fill="#F9F9F9"/>
				//- <path data-depth="0.2" d="M664.59 219.492C383.328 219.492 154.492 448.316 154.492 729.59C154.492 1010.86 383.316 1239.69 664.59 1239.69C945.864 1239.69 1174.69 1010.86 1174.69 729.59C1174.69 448.316 945.864 219.492 664.59 219.492ZM664.59 1229.59C388.889 1229.59 164.581 1005.29 164.581 729.578C164.581 453.865 388.889 229.581 664.59 229.581C940.292 229.581 1164.6 453.877 1164.6 729.59C1164.6 1005.3 940.303 1229.6 664.59 1229.6V1229.59Z" fill="#F9F9F9"/>
				//- <path data-depth="0.15" d="M664.59 196.218C370.483 196.218 131.218 435.483 131.218 729.59C131.218 1023.7 370.483 1262.96 664.59 1262.96C958.698 1262.96 1197.96 1023.7 1197.96 729.59C1197.96 435.483 958.698 196.218 664.59 196.218ZM664.59 1252.87C376.055 1252.87 141.306 1018.13 141.306 729.59C141.306 441.055 376.055 206.306 664.59 206.306C953.125 206.306 1187.87 441.055 1187.87 729.59C1187.87 1018.13 953.125 1252.87 664.59 1252.87Z" fill="#F9F9F9"/>
				//- <path data-depth="0.1" d="M664.59 172.943C357.649 172.943 107.943 422.661 107.943 729.59C107.943 1036.52 357.649 1286.24 664.59 1286.24C971.531 1286.24 1221.24 1036.52 1221.24 729.59C1221.24 422.661 971.519 172.943 664.59 172.943ZM664.59 1276.15C363.221 1276.15 118.032 1030.96 118.032 729.59C118.032 428.221 363.221 183.032 664.59 183.032C965.959 183.032 1211.15 428.221 1211.15 729.59C1211.15 1030.96 965.959 1276.15 664.59 1276.15Z" fill="#F9F9F9"/>
				//- <path data-depth="0.05" d="M664.59 149.669C344.815 149.669 84.6694 409.827 84.6694 729.59C84.6694 1049.35 344.827 1309.51 664.59 1309.51C984.353 1309.51 1244.51 1049.35 1244.51 729.59C1244.51 409.827 984.365 149.669 664.59 149.669ZM664.59 1299.43C350.376 1299.43 94.7463 1043.8 94.7463 729.602C94.7463 415.399 350.388 159.758 664.59 159.758C978.793 159.758 1234.42 415.388 1234.42 729.59C1234.42 1043.79 978.793 1299.42 664.59 1299.42V1299.43Z" fill="#F9F9F9"/>
				//- <path data-depth="0" d="M664.59 126.383C331.982 126.383 61.3833 396.982 61.3833 729.59C61.3833 1062.2 331.982 1332.8 664.59 1332.8C997.199 1332.8 1267.8 1062.2 1267.8 729.59C1267.8 396.982 997.199 126.383 664.59 126.383ZM664.59 1322.7C337.542 1322.7 71.4719 1056.63 71.4719 729.578C71.4719 402.53 337.542 136.472 664.59 136.472C991.638 136.472 1257.71 402.542 1257.71 729.59C1257.71 1056.64 991.638 1322.71 664.59 1322.71V1322.7Z" fill="#F9F9F9"/>
			
			
				<path class="front-top__bg-1"  data-depth="0" d="M664.59 475.556C524.511 475.556 410.544 589.522 410.544 729.602C410.544 869.681 524.511 983.648 664.59 983.648C804.67 983.648 918.625 869.681 918.625 729.602C918.625 589.522 804.658 475.556 664.59 475.556ZM664.59 973.548C530.071 973.548 420.633 864.109 420.633 729.59C420.633 595.071 530.071 485.633 664.59 485.633C799.109 485.633 908.548 595.071 908.548 729.59C908.548 864.109 799.109 973.548 664.59 973.548Z" fill="#F9F9F9"/>
				<path class="front-top__bg-2"  data-depth="0.05" d="M664.59 452.27C511.677 452.27 387.27 576.677 387.27 729.59C387.27 882.503 511.677 1006.91 664.59 1006.91C817.503 1006.91 941.91 882.503 941.91 729.59C941.91 576.677 817.503 452.27 664.59 452.27ZM664.59 996.822C517.237 996.822 397.358 876.943 397.358 729.59C397.358 582.237 517.237 462.358 664.59 462.358C811.943 462.358 931.822 582.237 931.822 729.59C931.822 876.943 811.943 996.822 664.59 996.822Z" fill="#F9F9F9"/>
				<path class="front-top__bg-3"  data-depth="0.1" d="M664.59 428.996C498.843 428.996 363.995 563.843 363.995 729.59C363.995 895.337 498.843 1030.19 664.59 1030.19C830.337 1030.19 965.185 895.337 965.185 729.59C965.185 563.843 830.337 428.996 664.59 428.996ZM664.59 1020.1C504.403 1020.1 374.084 889.777 374.084 729.59C374.084 569.404 504.403 439.084 664.59 439.084C824.777 439.084 955.096 569.404 955.096 729.59C955.096 889.777 824.777 1020.1 664.59 1020.1Z" fill="#F9F9F9"/>
				<path class="front-top__bg-4"  data-depth="0.15" d="M664.59 405.721C486.01 405.721 340.721 551.009 340.721 729.59C340.721 908.171 486.01 1053.46 664.59 1053.46C843.171 1053.46 988.459 908.171 988.459 729.59C988.459 551.009 843.171 405.721 664.59 405.721ZM664.59 1043.38C491.57 1043.38 350.81 902.622 350.81 729.602C350.81 556.582 491.57 415.822 664.59 415.822C837.61 415.822 978.371 556.582 978.371 729.602C978.371 902.622 837.61 1043.38 664.59 1043.38Z" fill="#F9F9F9"/>
				<path class="front-top__bg-5"  data-depth="0.2" d="M664.59 382.435C473.164 382.435 317.435 538.164 317.435 729.59C317.435 921.016 473.164 1076.75 664.59 1076.75C856.016 1076.75 1011.75 921.016 1011.75 729.59C1011.75 538.164 856.016 382.435 664.59 382.435ZM1001.66 729.59C1001.66 915.444 850.456 1066.66 664.59 1066.66C478.724 1066.66 327.524 915.456 327.524 729.59C327.524 543.724 478.724 392.524 664.59 392.524C850.456 392.524 1001.66 543.724 1001.66 729.59Z" fill="#F9F9F9"/>
				<path class="front-top__bg-6"  data-depth="0.25" d="M664.59 359.161C460.33 359.161 294.161 525.33 294.161 729.59C294.161 933.85 460.33 1100.02 664.59 1100.02C868.85 1100.02 1035.02 933.85 1035.02 729.59C1035.02 525.33 868.85 359.161 664.59 359.161ZM664.59 1089.93C465.903 1089.93 304.25 928.278 304.25 729.59C304.25 530.903 465.903 369.25 664.59 369.25C863.278 369.25 1024.93 530.903 1024.93 729.59C1024.93 928.278 863.29 1089.93 664.59 1089.93Z" fill="#F9F9F9"/>
				<path class="front-top__bg-7"  data-depth="0.3" d="M664.59 335.887C447.496 335.887 270.886 512.508 270.886 729.59C270.886 946.672 447.496 1123.29 664.59 1123.29C881.683 1123.29 1058.29 946.672 1058.29 729.59C1058.29 512.508 881.672 335.887 664.59 335.887ZM664.59 1113.2C453.057 1113.2 280.975 941.111 280.975 729.59C280.975 518.069 453.069 345.975 664.59 345.975C876.111 345.975 1048.21 518.069 1048.21 729.59C1048.21 941.111 876.111 1113.2 664.59 1113.2Z" fill="#F9F9F9"/>
				<path class="front-top__bg-8"  data-depth="0.35" d="M664.59 312.612C434.663 312.612 247.612 499.675 247.612 729.602C247.612 959.529 434.675 1146.59 664.59 1146.59C894.506 1146.59 1081.57 959.529 1081.57 729.602C1081.57 499.675 894.506 312.612 664.59 312.612ZM664.59 1136.49C440.223 1136.49 257.701 953.957 257.701 729.59C257.701 505.223 440.235 322.689 664.59 322.689C888.945 322.689 1071.48 505.223 1071.48 729.59C1071.48 953.957 888.945 1136.49 664.59 1136.49Z" fill="#F9F9F9"/>
				<path class="front-top__bg-9"  data-depth="0.4" d="M664.59 289.326C421.829 289.326 224.326 486.829 224.326 729.59C224.326 972.351 421.829 1169.85 664.59 1169.85C907.351 1169.85 1104.85 972.351 1104.85 729.59C1104.85 486.829 907.351 289.326 664.59 289.326ZM1094.77 729.59C1094.77 966.79 901.79 1159.77 664.59 1159.77C427.39 1159.77 234.415 966.79 234.415 729.59C234.415 492.39 427.39 299.415 664.59 299.415C901.79 299.415 1094.77 492.39 1094.77 729.59Z" fill="#F9F9F9"/>
				<path class="front-top__bg-10"  data-depth="0.45" d="M664.59 266.052C408.995 266.052 201.052 473.995 201.052 729.59C201.052 985.185 408.995 1193.13 664.59 1193.13C920.185 1193.13 1128.13 985.185 1128.13 729.59C1128.13 473.995 920.185 266.052 664.59 266.052ZM1118.04 729.59C1118.04 979.624 914.624 1183.04 664.59 1183.04C414.556 1183.04 211.141 979.624 211.141 729.59C211.141 479.556 414.556 276.141 664.59 276.141C914.624 276.141 1118.04 479.556 1118.04 729.59Z" fill="#F9F9F9"/>
				<path class="front-top__bg-11"  data-depth="0.5" d="M664.59 242.778C396.162 242.778 177.778 461.162 177.778 729.59C177.778 998.018 396.162 1216.4 664.59 1216.4C933.019 1216.4 1151.4 998.018 1151.4 729.59C1151.4 461.162 933.019 242.778 664.59 242.778ZM1141.31 729.59C1141.31 992.458 927.458 1206.31 664.59 1206.31C401.722 1206.31 187.867 992.458 187.867 729.59C187.867 466.722 401.722 252.866 664.59 252.866C927.458 252.866 1141.31 466.722 1141.31 729.59Z" fill="#F9F9F9"/>
				<path class="front-top__bg-12"  data-depth="0.55" d="M664.59 219.492C383.328 219.492 154.492 448.316 154.492 729.59C154.492 1010.86 383.316 1239.69 664.59 1239.69C945.864 1239.69 1174.69 1010.86 1174.69 729.59C1174.69 448.316 945.864 219.492 664.59 219.492ZM664.59 1229.59C388.889 1229.59 164.581 1005.29 164.581 729.578C164.581 453.865 388.889 229.581 664.59 229.581C940.292 229.581 1164.6 453.877 1164.6 729.59C1164.6 1005.3 940.303 1229.6 664.59 1229.6V1229.59Z" fill="#F9F9F9"/>
				<path class="front-top__bg-13"  data-depth="0.6" d="M664.59 196.218C370.483 196.218 131.218 435.483 131.218 729.59C131.218 1023.7 370.483 1262.96 664.59 1262.96C958.698 1262.96 1197.96 1023.7 1197.96 729.59C1197.96 435.483 958.698 196.218 664.59 196.218ZM664.59 1252.87C376.055 1252.87 141.306 1018.13 141.306 729.59C141.306 441.055 376.055 206.306 664.59 206.306C953.125 206.306 1187.87 441.055 1187.87 729.59C1187.87 1018.13 953.125 1252.87 664.59 1252.87Z" fill="#F9F9F9"/>
				<path class="front-top__bg-14"  data-depth="0.65" d="M664.59 172.943C357.649 172.943 107.943 422.661 107.943 729.59C107.943 1036.52 357.649 1286.24 664.59 1286.24C971.531 1286.24 1221.24 1036.52 1221.24 729.59C1221.24 422.661 971.519 172.943 664.59 172.943ZM664.59 1276.15C363.221 1276.15 118.032 1030.96 118.032 729.59C118.032 428.221 363.221 183.032 664.59 183.032C965.959 183.032 1211.15 428.221 1211.15 729.59C1211.15 1030.96 965.959 1276.15 664.59 1276.15Z" fill="#F9F9F9"/>
				<path class="front-top__bg-15"  data-depth="0.7" d="M664.59 149.669C344.815 149.669 84.6694 409.827 84.6694 729.59C84.6694 1049.35 344.827 1309.51 664.59 1309.51C984.353 1309.51 1244.51 1049.35 1244.51 729.59C1244.51 409.827 984.365 149.669 664.59 149.669ZM664.59 1299.43C350.376 1299.43 94.7463 1043.8 94.7463 729.602C94.7463 415.399 350.388 159.758 664.59 159.758C978.793 159.758 1234.42 415.388 1234.42 729.59C1234.42 1043.79 978.793 1299.42 664.59 1299.42V1299.43Z" fill="#F9F9F9"/>
				<path class="front-top__bg-16"  data-depth="0.75" d="M664.59 126.383C331.982 126.383 61.3833 396.982 61.3833 729.59C61.3833 1062.2 331.982 1332.8 664.59 1332.8C997.199 1332.8 1267.8 1062.2 1267.8 729.59C1267.8 396.982 997.199 126.383 664.59 126.383ZM664.59 1322.7C337.542 1322.7 71.4719 1056.63 71.4719 729.578C71.4719 402.53 337.542 136.472 664.59 136.472C991.638 136.472 1257.71 402.542 1257.71 729.59C1257.71 1056.64 991.638 1322.71 664.59 1322.71V1322.7Z" fill="#F9F9F9"/>
			
		</svg>
	.front-about.block 
		.front-about__row 
			.front-about__headline
				h2 
					color About 
						br 
						| the company 
			.front-about__body
				p The Team of specialists who has invented the method has under its belt hundreds of conducted explorations in different parts of the world – in Botswana, Germany, Zambia, Zimbabwe, Iran, Kazakhstan, Kyrgyzstan, Namibia, Peru, Russia, Sudan, Tanzania, Turkey, Czech Republic, Chile, South Africa and other countries
				a(href="#").btnc More about the company
	#front-m100.front-m100.block
		.front-m100__content#front-m100-pin
			+picture('m100','jpg').front-m100__img
			#front-m100-cover.front-m100__cover
			img(src="img/m100.svg",alt='').front-m100__mask#front-m100-mask
	.front-methods.block 
		.center
			h2 
				color  Uniqueness  
				| of the method
		.front-methods__row 
			.front-method
				.front-method__line-1 Depth available for depth analysis
				.front-method__line-2 up to 300 m
				img(src="img/method-1.svg", alt="").front-method__img

			.front-method
				.front-method__line-1 Surveying speed per day
				.front-method__line-2 up to 10 linear kilometers
				img(src="img/method-2.svg", alt="").front-method__img

			.front-method
				.front-method__line-1 Competencies, allows you to reliably interpret the data obtained
				.front-method__line-2  many years
					br
					of experience
					br
					of specialists
	.front-servises.block
		.front-servises__head
			h2 Georadar survey
				br
				| as a method,
				color  services
			a.btnc(href="#") all services
		.front-servises__row 
			.front-servise 
				+picture('front-servise-1','jpg').front-servise__bg
				.front-servise__content 
					.front-servise__title Search for groundwater
					a.front-servise__more(href="#") Read more
			.front-servise 
				+picture('front-servise-2','jpg').front-servise__bg
				.front-servise__content 
					.front-servise__title Survey of construction sites at the stage of construction preparation 
					a.front-servise__more(href="#") Read more
			.front-servise 
				+picture('front-servise-3','jpg').front-servise__bg
				.front-servise__content 
					.front-servise__title Checking for possible sources of groundwater pollution
					a.front-servise__more(href="#") Read more
			.front-servise 
				+picture('front-servise-4','jpg').front-servise__bg
				.front-servise__content 
					.front-servise__title Delineation of mineral deposits
					a.front-servise__more(href="#") Read more
			.front-servise 
				+picture('front-servise-5','jpg').front-servise__bg
				.front-servise__content 
					.front-servise__title Search for archaeological objects
					a.front-servise__more(href="#") Read more
			.front-servise 
				+picture('front-servise-6','jpg').front-servise__bg
				.front-servise__content 
					.front-servise__title Control of hydraulic structures
					a.front-servise__more(href="#") Read more

