extends ../../layout/layout
block title
	title terraDive
block content
	.front-top.block 
		.front-top__content
			h1.front-top__title The NeoDowser device and 
				br
				color  method of impulse radar research 
			.front-top__desc 
				p  are the only set and technology of ultra-deep geo-radar exploration in the world practice. They allow to explore the geological structure of the ground at the depth till 300 m.
		.front-top__slider-wrapp
			.front-top-slider
				.swiper#front-top-slider
					.swiper-wrapper
						.swiper-slide
							.front-top-slide
								.front-top-slide__row 
									.front-top-slide__img-wrap
										+picture('front-top-slider','png')
										.front-top-slide__pagi
											span.front-top-slide__pagi-now
											span.front-top-slide__pagi-all
									.front-top-slide__content
										.front-top-slide__title Geoengineering
										.front-top-slide__body
											p The ability to scan ground to depths of 200-300 meters, which does not violate the principle of profiling, the speed of measurements made in combination
										.front-top-slide__more Read more
						.swiper-slide
							.front-top-slide
								.front-top-slide__row 
									.front-top-slide__img-wrap
										+picture('front-top-slider','png')
										.front-top-slide__pagi
											span.front-top-slide__pagi-now
											span.front-top-slide__pagi-all
									.front-top-slide__content
										.front-top-slide__title Geoengineering
										.front-top-slide__body
											p The ability to scan ground to depths of 200-300 meters, which does not violate the principle of profiling, the speed of measurements made in combination
										.front-top-slide__more Read more
						.swiper-slide
							.front-top-slide
								.front-top-slide__row 
									.front-top-slide__img-wrap
										+picture('front-top-slider','png')
										.front-top-slide__pagi
											span.front-top-slide__pagi-now
											span.front-top-slide__pagi-all
									.front-top-slide__content
										.front-top-slide__title Geoengineering
										.front-top-slide__body
											p The ability to scan ground to depths of 200-300 meters, which does not violate the principle of profiling, the speed of measurements made in combination
										.front-top-slide__more Read more
						.swiper-slide
							.front-top-slide
								.front-top-slide__row 
									.front-top-slide__img-wrap
										+picture('front-top-slider','png')
										.front-top-slide__pagi
										.front-top-slide__pagi
											span.front-top-slide__pagi-now
											span.front-top-slide__pagi-all
									.front-top-slide__content
										.front-top-slide__title Geoengineering
										.front-top-slide__body
											p The ability to scan ground to depths of 200-300 meters, which does not violate the principle of profiling, the speed of measurements made in combination
										.front-top-slide__more Read more
						.swiper-slide
							.front-top-slide
								.front-top-slide__row 
									.front-top-slide__img-wrap
										+picture('front-top-slider','png')
										.front-top-slide__pagi
											span.front-top-slide__pagi-now
											span.front-top-slide__pagi-all
									.front-top-slide__content
										.front-top-slide__title Geoengineering
										.front-top-slide__body
											p The ability to scan ground to depths of 200-300 meters, which does not violate the principle of profiling, the speed of measurements made in combination
										.front-top-slide__more Read more


			.front-top__slider-nav 
				.front-top__slider-nav-prev
				.front-top__slider-nav-next
