@keyframes frontTopBgColor {
	0% {
		fill: #f9f9f9;
	}
	10% {
		fill: #f9f9f9;
	}
	20% {
		fill: $blue;
	}
	30% {
		fill: $blue;
	}
	40% {
		fill: #f9f9f9;
	}
	100% {
		fill: #f9f9f9;
	}
}
.front-top {
	min-height: calc(var(--vh, 1vh) * 100);
	display: flex;
	flex-direction: column;
	padding-top: 130px;
	padding-bottom: 84px;
	position: relative;
	@media (max-width: 992px) {
		padding-bottom: 0;
	}
	&__bg {
		position: absolute;
		left: 0px;
		width: calc(100% - 0px);
		bottom: 0;
		z-index: 1;
		@media (min-width: 1300px) {
			width: 1300px;
			left: 50%;
			margin-left: -650px;
		}
		@media (max-width: 992px) {
			width: 160vh;
			padding-bottom: 0;
			left: 50%;
			max-width: initial;
			margin-left: -80vh;
		}
		path {
			animation-name: frontTopBgColor;
			animation-duration: 5s;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
		}
		&-1 {
			animation-delay: 0s;
		}
		&-2 {
			animation-delay: 0.25s;
		}
		&-3 {
			animation-delay: 0.5s;
		}
		&-4 {
			animation-delay: 0.75s;
		}
		&-5 {
			animation-delay: 1s;
		}
		&-6 {
			animation-delay: 1.25s;
		}
		&-7 {
			animation-delay: 1.5s;
		}
		&-8 {
			animation-delay: 1.75s;
		}
		&-9 {
			animation-delay: 2s;
		}
		&-10 {
			animation-delay: 2.25s;
		}
		&-11 {
			animation-delay: 2.5s;
		}
		&-12 {
			animation-delay: 2.75s;
		}
		&-13 {
			animation-delay: 3s;
		}
		&-14 {
			animation-delay: 3.25s;
		}
		&-15 {
			animation-delay: 3.5s;
		}
		&-16 {
			animation-delay: 3.75s;
		}
		&-17 {
			animation-delay: 4s;
		}
	}
	&__content {
		margin: auto 0;
		position: relative;
		z-index: 2;
	}
	&__title {
		text-align: center;
		margin: 0 0 22px 0;
	}

	&__desc {
		text-align: center;
		font-weight: 400;
		@include lh(16, 24);

		text-align: center;
		letter-spacing: -0.02em;

		/* 2 */

		color: #2a2a29;
	}

	&__slider-pagination {
		display: none;
		@media (max-width: 992px) {
			position: absolute;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			bottom: -20px !important;
			.swiper-pagination-bullet.swiper-pagination-bullet-active {
				background: $blue;
			}
		}
	}
	&__slider-wrapp {
		max-width: 1144px;
		margin: 0 auto;
		width: 100%;
		position: relative;
		z-index: 5;
		padding-right: 114px;
		background: #ffffff;
		border: 1px solid #d9d9d9;
		@media (max-width: 992px) {
			border: 0 solid;
			padding-right: 0;
			max-width: 600px;
			margin-top: 33px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	&__slider-nav {
		position: absolute;
		right: 0;
		width: 107px;
		height: 100%;
		right: 0;
		top: 0;
		@media (max-width: 992px) {
			display: none;
		}
	}

	&__slider-nav-prev {
		cursor: pointer;
		height: calc(50% + 1px);
		border: 1px solid #d9d9d9;
		display: block;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: -1px;
		margin-top: -1px;
		transition: border 0.3s;
		&:hover {
			border-color: $blue;
			z-index: 2;
			// &::after {
			// 	transform: scale(1.5);
			// }
		}
		&::after {
			display: block;
			content: "";
			transition: transform 0.3s;
			width: 9px;
			height: 15px;
			background-image: url("data:image/svg+xml,%3Csvg width='9' height='15' viewBox='0 0 9 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.34023 1.3664L8.70662 1.02617L8.02617 0.293379L7.65978 0.633604L8.34023 1.3664ZM1 7.5L0.659774 7.1336L0.265193 7.5L0.659774 7.8664L1 7.5ZM7.65977 14.3664L8.02617 14.7066L8.70662 13.9738L8.34023 13.6336L7.65977 14.3664ZM7.65978 0.633604L0.659774 7.1336L1.34023 7.8664L8.34023 1.3664L7.65978 0.633604ZM0.659774 7.8664L7.65977 14.3664L8.34023 13.6336L1.34023 7.1336L0.659774 7.8664Z' fill='%232A2A29'/%3E%3C/svg%3E%0A");
			background-position: center;
		}
	}

	&__slider-nav-next {
		cursor: pointer;
		&:hover {
			border-color: $blue;
			z-index: 2;
			// &::after {
			// 	transform: scale(1.5);
			// }
		}
		margin-right: -1px;
		height: calc(50% + 2px);
		border: 1px solid #d9d9d9;
		display: block;
		position: relative;
		display: flex;
		margin-top: -1px;
		align-items: center;
		justify-content: center;
		transition: border 0.3s;
		&::after {
			display: block;
			content: "";
			width: 9px;
			transition: transform 0.3s;
			height: 15px;
			background-image: url("data:image/svg+xml,%3Csvg width='9' height='15' viewBox='0 0 9 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.659774 13.6336L0.293378 13.9738L0.973829 14.7066L1.34023 14.3664L0.659774 13.6336ZM8 7.5L8.34023 7.8664L8.73481 7.5L8.34023 7.1336L8 7.5ZM1.34023 0.633603L0.973829 0.293378L0.293378 1.02617L0.659774 1.3664L1.34023 0.633603ZM1.34023 14.3664L8.34023 7.8664L7.65977 7.1336L0.659774 13.6336L1.34023 14.3664ZM8.34023 7.1336L1.34023 0.633603L0.659774 1.3664L7.65977 7.8664L8.34023 7.1336Z' fill='%232A2A29'/%3E%3C/svg%3E%0A");
			background-position: center;
		}
	}
}

.front-top-slider {
	@media (max-width: 992px) {
	}
}
.front-top-slide {
	padding: 16px;
	@media (max-width: 992px) {
		border: 1px solid #d9d9d9;
	}
	&__row {
		display: grid;
		grid-template-columns: 35% auto;
		grid-gap: 40px;
		align-items: center;
		@media (max-width: 992px) {
			grid-template-columns: 1fr;
			width: 100%;
			grid-gap: 20px;
		}
	}

	&__img-wrap {
		line-height: 0;
		position: relative;
		img {
			z-index: 1;
		}
		&::before {
			display: block;
			content: "";
			background: linear-gradient(
				180deg,
				rgba(0, 0, 0, 0) 0%,
				rgba(0, 0, 0, 0.67) 100%
			);
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 3;
		}
	}

	&__pagi {
		position: absolute;
		right: 17px;
		bottom: 30px;
		z-index: 10;
		font-family: "Geometria";
	}

	&__pagi-now {
		font-weight: 200;
		font-size: 36px;
		letter-spacing: -0.03em;
		color: #ffffff;
	}

	&__pagi-all {
		font-weight: 300;
		font-size: 14px;
		line-height: 18px;
		padding-left: 5px;
		position: relative;
		top: -15px;
		/* identical to box height */

		letter-spacing: -0.03em;

		color: #ffffff;
	}

	&__content {
		max-width: 503px;
	}

	&__title {
		font-weight: 700;
		font-size: 32px;
		@include lh(32, 44);
		letter-spacing: 0.06em;
		text-transform: uppercase;
		color: $gray;
		margin-bottom: 11px;
		@media (max-width: 992px) {
			font-size: 20px;
		}
	}

	&__body {
		margin-bottom: 30px;
		p {
			font-weight: 300;
			font-size: 14px;
			line-height: 19px;
			@include lh(14, 19);
			letter-spacing: -0.04em;
			color: #2a2a29;
		}
	}

	&__more {
		color: $blue;
		margin-top: 28px;
		font-weight: 800;
		font-size: 14px;
		line-height: 19px;
		letter-spacing: -0.03em;
		text-transform: uppercase;
		text-decoration: none;
		&:hover {
			&:after {
				left: 5px;
			}
		}
		&:after {
			background-image: url("data:image/svg+xml,%3Csvg width='13' height='11' viewBox='0 0 13 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.90828 8.17748L6.20117 8.88459L7.61538 10.2988L8.32249 9.59169L6.90828 8.17748ZM11 5.49997L11.7071 6.20708L12.4142 5.49997L11.7071 4.79287L11 5.49997ZM8.32249 1.40825L7.61538 0.701143L6.20117 2.11536L6.90828 2.82246L8.32249 1.40825ZM8.32249 9.59169L11.7071 6.20708L10.2929 4.79287L6.90828 8.17748L8.32249 9.59169ZM11.7071 4.79287L8.32249 1.40825L6.90828 2.82246L10.2929 6.20708L11.7071 4.79287ZM11 4.49997H0V6.49997H11V4.49997Z' fill='%23364DE7'/%3E%3C/svg%3E%0A");
			background-position: center;
			width: 13px;
			height: 11px;
			left: 0;
			display: inline-block;
			content: "";
			margin-left: 4px;
			position: relative;
			transition: left 0.3s;
		}
	}
}
.front-about {
	&__row {
		display: grid;
		grid-template-columns: 40% auto;
		grid-gap: 30px;
		@media (max-width: 992px) {
			grid-template-columns: 1fr;
			grid-gap: 0px;
		}
	}

	&__headline {
	}

	&__body {
		p {
			font-weight: 400;
			font-size: 24px;
			line-height: 158%;
			letter-spacing: -0.04em;
			color: #2a2a29;
			@media (max-width: 992px) {
				font-size: 16px;
			}
		}
		p + .btnc {
			margin-top: 23px;
		}
	}
}
.front-m100 {
	line-height: 0;
	position: relative;
	overflow: hidden;

	picture {
		line-height: 0;
	}
	&__cover {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		background-color: $blue;
	}
	&__content {
		position: relative;
	}
	&__mask {
		position: absolute;
		left: 60%;
		top: 50%;

		transform: translateX(-50%) translateY(-50%);
		width: 5000%;
		max-width: initial;
	}
}

.front-methods {
	&__row {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 13px;
		@media (max-width: 992px) {
			grid-template-columns: 1fr;
		}
	}
}

.front-method {
	padding: 34px 40px;
	background: #ffffff;
	border: 1px solid #d9d9d9;
	padding-bottom: 90px;
	position: relative;
	@media (max-width: 992px) {
		padding-bottom: 100px;
	}
	&__line-1 {
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.04em;
		color: #5a6171;
		margin-bottom: 20px;
	}

	&__line-2 {
		color: $blue;
		font-weight: 500;
		font-size: 36px;
		@include lh(36, 49);
		letter-spacing: -0.04em;
		@media (max-width: 992px) {
			font-size: 32px;
			br {
				display: none;
			}
		}
	}

	&__img {
		position: absolute;
		right: 48px;
		bottom: 30px;
	}
	&._no-img {
		@media (max-width: 992px) {
			padding-bottom: 34px !important;
		}
	}
}

.front-services {
	&__head {
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		margin-bottom: 45px;
		h2,
		.h2 {
			margin-bottom: 0;
			margin-right: auto;
		}
		.btnc {
			@media (max-width: 992px) {
				display: none;
			}
		}
	}

	&__row {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 13px;
		@media (max-width: 992px) {
			grid-template-columns: 1fr 1fr;
		}
		@media (max-width: 600px) {
			grid-template-columns: 1fr;
		}
	}
}

.front-service {
	overflow: hidden;
	position: relative;
	@media (max-width: 992px) {
		max-height: 300px;
	}

	&__bg {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: 1;
		@include lh(429, 341);
		transition: transform 0.5s;
		.front-service:hover & {
			transform: scale(1.35);
		}
	}

	&::after {
		position: relative;
		display: block;
		content: "";
		z-index: 3;
		padding-bottom: 79.48718%;
		background: rgba($color: #000000, $alpha: 0.3);
	}

	&__content {
		display: flex;
		flex-direction: column;
		z-index: 10;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		padding: 40px 30px;
	}
	&__title {
		margin-bottom: auto;
		font-weight: 700;
		font-size: 24px;
		@include lh(24, 33);
		letter-spacing: -0.04em;
		@media (max-width: 1100px) {
			font-size: 20px;
		}
		color: #ffffff;
	}

	&__more {
		font-weight: 700;
		text-decoration: none;
		font-size: 14px;
		line-height: 18px;
		text-transform: uppercase;
		letter-spacing: -0.03em;
		color: #ffffff;
		&::before {
			display: block;
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: 11;
			left: 0;
			top: 0;
		}
		&::after {
			background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.90828 7.67748L6.20117 8.38459L7.61538 9.7988L8.32249 9.09169L6.90828 7.67748ZM11 4.99997L11.7071 5.70708L12.4142 4.99997L11.7071 4.29287L11 4.99997ZM8.32249 0.90825L7.61538 0.201143L6.20117 1.61536L6.90828 2.32246L8.32249 0.90825ZM8.32249 9.09169L11.7071 5.70708L10.2929 4.29287L6.90828 7.67748L8.32249 9.09169ZM11.7071 4.29287L8.32249 0.90825L6.90828 2.32246L10.2929 5.70708L11.7071 4.29287ZM11 3.99997H0V5.99997H11V3.99997Z' fill='white'/%3E%3C/svg%3E%0A");
			display: inline-block;
			width: 13px;
			height: 10px;
			margin-left: 8px;
			position: relative;
			left: 0;
			content: "";
			transition: left 0.5s;
		}
		&:hover::after {
			left: 5px;
		}
	}
}

.front-algorithms {
	@media (max-width: 992px) {
		margin-top: 40px;
	}
	&__row {
		display: flex;
		grid-gap: 10px;
		flex-direction: row;
		@media (max-width: 992px) {
			flex-direction: column;
		}
	}
}
.front-algorithm {
	transition: all;
	background: #f5f6fb;
	position: relative;
	overflow: hidden;
	max-width: 138px;
	width: 100%;
	transition: max-width 0.3s;
	@media (max-width: 992px) {
		transition: max-height 0.3s;
		max-width: initial;
	}
	&._active {
		.front-algorithm__left {
			left: -150px;
			@media (max-width: 992px) {
				left: 0;
			}
		}
		max-width: 1000px;
	}
	&__left {
		background: #f5f6fb;
		position: absolute;
		font-weight: 700;
		font-size: 24px;
		height: 100%;
		padding: 49px 53px;
		line-height: 33px;
		letter-spacing: -0.04em;
		color: #212f8c;
		transition: left 0.3s, color 0.3s;
		z-index: 15;
		text-align: right;
		transform: scale(-1);
		cursor: pointer;
		left: 0;
		top: 0;
		span {
			writing-mode: vertical-lr;
			display: block;
		}
		@media (max-width: 992px) {
			transform: none;
			height: initial;
			position: relative;
			padding: 32px 20px;
			width: 100%;
			text-align: left;
			span {
				writing-mode: initial;
			}
		}
		@keyframes rotating {
			from {
				transform: rotate(0deg);
			}
			to {
				transform: rotate(360deg);
			}
		}
		&:hover {
			@media (min-width: 992px) {
				color: rgba(33, 47, 140, 1);

				&::after {
					animation: rotating 2s linear infinite;
					background-repeat: no-repeat;
					background-image: url("data:image/svg+xml,%3Csvg width='46' height='46' viewBox='0 0 46 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 22.7284C0 35.2852 10.2212 45.4561 22.806 45.4561V34.7346C16.1453 34.7346 10.743 29.351 10.743 22.7131H0V22.7284Z' fill='%23212F8C'/%3E%3Cpath d='M34.8688 22.7277H45.6272C45.6272 10.1862 35.406 0 22.8059 0V10.7215C29.4666 10.7215 34.8688 16.1052 34.8688 22.743V22.7277Z' fill='%23212F8C'/%3E%3C/svg%3E%0A");
				}
			}
		}
		&::after {
			display: block;
			content: "";
			width: 46px;
			height: 46px;
			position: absolute;
			left: 50%;
			margin-left: -23px;
			bottom: 45px;
			background-repeat: no-repeat;
			@media (max-width: 992px) {
				left: initial;
				right: 20px;
				top: 50%;
				margin-top: -18px;
				margin-left: 0px;
				width: 36px;
				height: 36px;
				background-size: contain !important;
			}
			background-image: url("data:image/svg+xml,%3Csvg width='46' height='46' viewBox='0 0 46 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 22.7284C0 35.2852 10.2212 45.4561 22.806 45.4561V34.7346C16.1453 34.7346 10.743 29.351 10.743 22.7131H0V22.7284Z' fill='%23364DE7'/%3E%3Cpath d='M34.8688 22.7277H45.6272C45.6272 10.1862 35.406 0 22.8059 0V10.7215C29.4666 10.7215 34.8688 16.1052 34.8688 22.743V22.7277Z' fill='%23364DE7'/%3E%3C/svg%3E%0A");
		}
	}

	&__content {
		padding: 40px;
		padding-top: 47px;
		position: relative;
		z-index: 5;
		@media (max-width: 992px) {
			padding: 0;
			overflow: hidden;
			max-height: 0;
			transition: max-height 0.4s;
			.front-algorithm._active & {
				max-height: 1000px;
			}
		}
	}

	&__head {
		font-weight: 700;
		font-size: 24px;
		line-height: 33px;
		letter-spacing: -0.04em;
		color: #364de7;
		text-align: center;
		margin-bottom: 40px;
		white-space: nowrap;
		@media (max-width: 992px) {
			display: none;
		}
	}

	&__table-wrap {
		overflow: auto;
		@media (max-width: 992px) {
			padding: 20px;
		}
		table {
			width: 100%;
			min-width: 700px;
			.work-img {
				min-width: 186px;
			}

			td,
			th {
				background: #ffffff;
				border: 1px solid #d9d9d9;
			}
			th {
				padding: 30px;
				font-weight: 800;
				font-size: 14px;
				line-height: 19px;
				letter-spacing: 2px;
				text-align: left;
				text-transform: uppercase;
				color: #2a2a29;
			}
			td {
				padding: 40px 30px;
				p {
					font-weight: 800;
					font-size: 14px;
					line-height: 19px;
					letter-spacing: 2px;
					text-transform: uppercase;
					margin-bottom: 40px;
					color: #00a850;
				}
			}
		}
	}
}

.front-geo {
	&__cover {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		background-color: $blue;
	}
	@media (min-width: 992px) {
		._mob {
			display: none;
		}
	}
	@media (max-width: 992px) {
		._desc {
			display: none;
		}
	}
	&__mask {
		position: absolute;
		left: 60%;
		top: 50%;

		transform: translateX(-50%) translateY(-50%);
		width: 5000%;
		max-width: initial;
	}
	&__head {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-wrap: wrap;
		margin-bottom: 10px;

		h2,
		.h2 {
			margin-right: auto;
			margin-bottom: 0;
		}
	}

	&__desc {
		margin-bottom: 5px;
		@media (max-width: 992px) {
			margin-bottom: 30px;
		}
		p {
			font-weight: 300;
			font-size: 16px;
			line-height: 150%;
			/* or*/

			letter-spacing: -0.02em;

			color: #5a6171;
		}
	}
}

.front-map {
	position: relative;
	overflow: hidden;
	@media (max-width: 992px) {
		background: #ffffff;
		border: 1px solid #d9d9d9;
		margin-top: 20px;
		overflow: auto;
		.front-geo__mask,
		.front-geo__cover {
			display: none;
		}
	}
	&__img {
		max-width: 100%;
		@media (max-width: 992px) {
			max-width: 992px;
		}
	}
}
.front-map-marker {
	position: absolute;
	width: 0;
	height: 0;
	cursor: pointer;
	cursor: pointer;

	&__img {
		position: absolute;
		left: 50%;
		top: 50%;
		background-image: url("data:image/svg+xml,%3Csvg width='17' height='18' viewBox='0 0 17 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.051 0.969727C3.61962 0.969726 0.0302513 4.57687 0.0302512 9.01809L3.81393 9.01809C3.81393 6.66749 5.71386 4.76102 8.0564 4.76102L8.0564 0.969727L8.051 0.969727Z' fill='%23364DE7'/%3E%3Cpath d='M8.05103 13.2751L8.05103 17.0718C12.477 17.0718 16.0718 13.4647 16.0718 9.01807L12.2881 9.01807C12.2881 11.3687 10.3882 13.2751 8.04563 13.2751L8.05103 13.2751Z' fill='%23364DE7'/%3E%3C/svg%3E%0A");
		width: 17px;
		height: 18px;
		background-position: center;
		transform: translateX(-50%) translateY(-50%);
	}

	&__baloon {
		padding: 19px 27px;
		background: #ffffff;
		font-weight: 800;
		font-size: 12px;
		line-height: 16px;
		letter-spacing: -0.03em;
		position: absolute;
		left: -50%;
		margin-top: 15px;
		transform: translateX(-50%);
		color: #2a2a29;
		opacity: 0;
		pointer-events: none;
		top: 40px;
		box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
		.front-map-marker:hover & {
			opacity: 1;
			pointer-events: auto;
			top: 0;
			transition: opacity 0.3s, top 0.3s;
		}
	}
}

.front-news {
	position: relative;
	&__bg {
		display: block;
		position: absolute;
		content: "";
		background: #f5f6fb;
		width: 100vw;
		height: 630px;
		left: 50%;
		bottom: 141px;
		transform: translateX(-50%);
	}
	&__head {
		margin-bottom: 40px;
		display: flex;
		flex-direction: row;
		align-items: center;
		h2,
		.h2 {
			margin: 0;
			margin-right: auto;
		}
	}
}

.front-news-slider {
	@media (max-width: 700px) {
		max-width: calc(100% - 45px);
		margin-right: auto;
		margin-left: 0;
		overflow: visible;
		margin-bottom: 40px;
	}
	@media (max-width: 992px) {
		margin-bottom: 40px;
	}
}

.front-cooperation {
	h2,
	.h2 {
		margin-bottom: 20px;
	}
	&__filters {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
	&__filter {
		margin-left: 15px;
		margin-right: 15px;
		font-weight: 700;
		font-size: 20px;
		line-height: 27px;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: #aaaaa4;
		transition: color 0.4s;
		position: relative;
		cursor: pointer;
		@media (max-width: 992px) {
			font-size: 14px;
		}
		&::before {
			display: block;
			content: "";
			width: 100%;
			height: 1px;
			bottom: 0;
			position: absolute;
			left: 0;
			background: #aaaaa4;
			transition: width 0.3s;
		}
		&._active {
			color: $blue;
		}
		&:hover,
		&._active {
			&::before {
				width: 0;
			}
		}
	}
}
.front-cooperation-slider {
	margin-left: -20px;
	margin-right: -20px;
	border-left: 1px solid #e1e4e6;
	margin-top: 54px;
	.swiper-slide {
		border: 1px solid #e1e4e6;
		border-left: 0 solid;
		&::before {
			padding-bottom: 100%;
			display: block;
			content: "";
		}
		img {
			position: absolute;
			max-width: calc(100% - 30px);
			max-height: calc(100% - 30px);
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
		}
	}
}

.front-sertificates {
	&__head {
		margin-bottom: 70px;
		display: flex;
		flex-direction: row;
		align-items: center;
		@media (max-width: 992px) {
			margin-bottom: 40px;
		}
		h2,
		.h2 {
			margin: 0;
			margin-right: auto;
		}
	}

	&__row {
	}
}

.front-sertificates-slider {
	overflow: visible;
	@media (max-width: 992px) {
		margin-bottom: 40px;
	}
}

.front-sertificate {
	perspective: 2000px;

	position: relative;
	transform-style: preserve-3d;
	&::before {
		padding-bottom: 140.94%;
		display: block;
		content: "";
	}
	&__front {
		border: 1px solid #d9d9d9;
		transition: 0.5s;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		transform: rotateY(0deg);
		backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		.front-sertificate:hover & {
			transform: rotateY(-180deg);
		}
		img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__back {
		border: 1px solid #d9d9d9;
		transition: 0.5s;
		transform: rotateY(180deg);
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		.front-sertificate:hover & {
			transform: rotateY(0deg);
		}
		img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__download {
		background: linear-gradient(
			0deg,
			rgba(42, 42, 41, 0.7),
			rgba(42, 42, 41, 0.7)
		);
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		padding: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		span {
			color: #fff;
			font-weight: 800;
			font-size: 16px;
			line-height: 34px;
			letter-spacing: -0.03em;
			color: #ffffff;
			&::after {
				display: inline-block;
				content: "";
				background-image: url("data:image/svg+xml,%3Csvg width='20' height='19' viewBox='0 0 20 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 13.68L5.125 9.36M10 13.68L14.5 9.36M10 13.68V0M19 8.64V18H1V8.64' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
				width: 20px;
				height: 19px;
				position: relative;
				top: 2px;
				margin-left: 12px;
			}
		}
	}
}

.front-reviews {
	@media (max-width: 992px) {
		margin-right: -20px;
	}
}
.front-review {
	padding-left: 42px;
	padding-top: 29px;
	overflow: hidden;
	&::before {
		background-image: url("data:image/svg+xml,%3Csvg width='118' height='118' viewBox='0 0 118 118' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 58.729C0 91.175 26.4111 117.456 58.9292 117.456V89.7523C41.7184 89.7523 27.7594 75.8412 27.7594 58.6895H0V58.729Z' fill='%23E1E4E6'/%3E%3Cpath d='M90.0988 58.727H117.898C117.898 26.3204 91.4868 0 58.929 0V27.7036C76.1398 27.7036 90.0988 41.6147 90.0988 58.7665V58.727Z' fill='%23E1E4E6'/%3E%3C/svg%3E%0A");
		width: 118px;
		height: 118px;
		position: absolute;
		left: 0;
		top: 0;
		z-index: -1;
		display: block;
		content: "";
		transition: transform 0.3s;
	}
	&:hover::before {
		transform: rotate(-90deg);
		background-image: url("data:image/svg+xml,%3Csvg width='118' height='118' viewBox='0 0 118 118' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 58.729C0 91.175 26.4111 117.456 58.9292 117.456V89.7523C41.7184 89.7523 27.7594 75.8412 27.7594 58.6895H0V58.729Z' fill='%23364DE7'/%3E%3Cpath d='M90.0988 58.727H117.898C117.898 26.3204 91.4868 0 58.929 0V27.7036C76.1398 27.7036 90.0988 41.6147 90.0988 58.7665V58.727Z' fill='%23364DE7'/%3E%3C/svg%3E%0A");
	}
	&__content {
		position: relative;
	}

	&__date {
		margin-bottom: 5px;
		font-weight: 800;
		font-size: 16px;
		line-height: 175%;
		letter-spacing: -0.04em;
	}

	&__body {
		p {
			font-weight: 400;
			font-size: 16px;
			line-height: 175%;
			letter-spacing: -0.04em;
		}
		padding-bottom: 40px;
	}

	&__footer {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		display: flex;
		align-items: center;
		flex-direction: row;
	}

	&__name {
		font-weight: 800;
		font-size: 16px;
		margin-right: auto;
		letter-spacing: -0.04em;
		color: #2a2a29;
	}

	&__more {
		color: $blue;
		font-weight: 800;
		font-size: 14px;
		line-height: 19px;
		letter-spacing: -0.03em;
		text-transform: uppercase;
		text-decoration: none;
		@media (max-width: 992px) {
			display: none;
		}
		&::before {
			display: block;
			content: "";
			width: 100vmax;
			height: 100vmax;
			left: 50%;
			position: absolute;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
		}
		&:hover {
			&:after {
				right: 0px;
			}
		}
		&:after {
			background-image: url("data:image/svg+xml,%3Csvg width='13' height='11' viewBox='0 0 13 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.90828 8.17748L6.20117 8.88459L7.61538 10.2988L8.32249 9.59169L6.90828 8.17748ZM11 5.49997L11.7071 6.20708L12.4142 5.49997L11.7071 4.79287L11 5.49997ZM8.32249 1.40825L7.61538 0.701143L6.20117 2.11536L6.90828 2.82246L8.32249 1.40825ZM8.32249 9.59169L11.7071 6.20708L10.2929 4.79287L6.90828 8.17748L8.32249 9.59169ZM11.7071 4.79287L8.32249 1.40825L6.90828 2.82246L10.2929 6.20708L11.7071 4.79287ZM11 4.49997H0V6.49997H11V4.49997Z' fill='%23364DE7'/%3E%3C/svg%3E%0A");
			background-position: center;
			width: 13px;
			height: 11px;
			right: 3px;
			display: inline-block;
			content: "";
			margin-left: 4px;
			position: relative;
			transition: right 0.3s;
		}
	}
}
