extends ../../layout/layout
block title
	title terraDive
block content
	.top
		.top__bg
			+picture('project-bg','jpg')
		.top__circles
		.container 
				+breadcrumb(['Home'], 'Our Radars')
		.container.top__content
		
				h1 Radars
				p The ability to scan ground to depths of 200-300 meters, which does not violate the principle of profiling, the speed of measurements made in combination
		.top__down
			<svg width="32" height="18" viewBox="0 0 32 18" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M2 2L16 16L30 2" stroke="white" stroke-width="2" stroke-linecap="square"/>
			</svg>
	.radars-catalog.block
		.radars-catalog-slider.swiper 
			.swiper-wrapper 
				.swiper-slide 
					.radars-catalog-item 
						.radars-catalog-item__front
							+picture('radar-catalog-1','jpg').radars-catalog-item__img
						.radars-catalog-item__back
							.radars-catalog-item__category Georadar series
							.radars-catalog-item__title Neo-dowser
							.radars-catalog-item__body 
								p “It has made unique archeological finds, discovered dozens of deposits, conducted numerous research for engineering geology.”
							a(href="#").radars-catalog-item__more read more 
				.swiper-slide 
					.radars-catalog-item 
						.radars-catalog-item__front
							+picture('radar-catalog-2','jpg').radars-catalog-item__img
						.radars-catalog-item__back
							.radars-catalog-item__category Georadar series
							.radars-catalog-item__title Neo-dowser
							.radars-catalog-item__body 
								p “It has made unique archeological finds, discovered dozens of deposits, conducted numerous research for engineering geology.”
							a(href="#").radars-catalog-item__more read more 
				.swiper-slide 
					.radars-catalog-item 
						.radars-catalog-item__front
							+picture('radar-catalog-1','jpg').radars-catalog-item__img
						.radars-catalog-item__back
							.radars-catalog-item__category Georadar series
							.radars-catalog-item__title Neo-dowser
							.radars-catalog-item__body 
								p “It has made unique archeological finds, discovered dozens of deposits, conducted numerous research for engineering geology.”
							a(href="#").radars-catalog-item__more read more 
				.swiper-slide
					.radars-catalog-news
						+picture('radar-catalog-news','jpg').radars-catalog-news__bg
						.radars-catalog-news__content 
							.radars-catalog-news__title Checking for possible sources of groundwater contamination
							a(href="#").radars-catalog-news__more  read more


	.our-projects.block
		.our-projects__head 
			h2 Our projects
			.btnc(href="#")  all projects
		.our-projects__filters._left  
			button.btn-square._active.our-projects__filter(data-filter="all") All
			button.btn-square.our-projects__filter(data-filter="Geoengineering") Geoengineering
			button.btn-square.our-projects__filter(data-filter="Geological exploration") Geological exploration
			button.btn-square.our-projects__filter(data-filter="Archaeology") Archaeology
			button.btn-square.our-projects__filter(data-filter="Hydrogeology") Hydrogeology
			button.btn-square.our-projects__filter(data-filter="Ecology") Ecology
		.our-projects__projects(data-pagelenght="5",data-pagestart="7")
			.project-preview(data-filter="Geoengineering")
				.project-preview__bg 
					+picture('p-1','jpg')
				.project-preview__content  
					.project-preview__category Geoengineering
					.project-preview__title Ground-penetrating radar "Neo-dowser" in Giza. Part 1.
				a(href="#").project-preview__more
			.project-preview(data-filter="Geological exploration")
				.project-preview__bg 
					+picture('p-2','jpg')
				.project-preview__content  
					.project-preview__category Geological exploration
					.project-preview__title The Greek well.
				a(href="#").project-preview__more
			.project-preview(data-filter="Archaeology") 
				.project-preview__bg 
					+picture('p-3','jpg')
				.project-preview__content  
					.project-preview__category Archaeology
					.project-preview__title Ground-penetrating radar "Neo-dowser" in Giza. Part 2.
				a(href="#").project-preview__more
			.project-preview(data-filter="Ecology") 
				.project-preview__bg 
					+picture('p-4','jpg')
				.project-preview__content  
					.project-preview__category Ecology
					.project-preview__title Georadar survey
						br
						| of archaeological sites of Sudan
				a(href="#").project-preview__more 
			.project-preview(data-filter="Hydrogeology") 
				.project-preview__bg 
					+picture('p-5','jpg')
				.project-preview__content  
					.project-preview__category Hydrogeology
					.project-preview__title Ground-penetrating radar "Neo-dowser" in China.
				a(href="#").project-preview__more
			.project-preview(data-filter="Archaeology") 
				.project-preview__bg 
					+picture('p-6','jpg')
				.project-preview__content  
					.project-preview__category Archaeology
					.project-preview__title Ground-penetrating radar "Neo-dowser" in China.
				a(href="#").project-preview__more
			.project-preview(data-filter="Geoengineering") 
				.project-preview__bg 
					+picture('p-7','jpg')
				.project-preview__content  
					.project-preview__category Geoengineering
					.project-preview__title Ground-penetrating radar "Neo-dowser" in China.
				a(href="#").project-preview__more
			.project-preview(data-filter="Geoengineering")
				.project-preview__bg 
					+picture('p-1','jpg')
				.project-preview__content  
					.project-preview__category Geoengineering
					.project-preview__title Ground-penetrating radar "Neo-dowser" in Giza. Part 1.
				a(href="#").project-preview__more
			.project-preview(data-filter="Geological exploration")
				.project-preview__bg 
					+picture('p-2','jpg')
				.project-preview__content  
					.project-preview__category Geological exploration
					.project-preview__title The Greek well.
				a(href="#").project-preview__more
			.project-preview(data-filter="Archaeology") 
				.project-preview__bg 
					+picture('p-3','jpg')
				.project-preview__content  
					.project-preview__category Archaeology
					.project-preview__title Ground-penetrating radar "Neo-dowser" in Giza. Part 2.
				a(href="#").project-preview__more
			.project-preview(data-filter="Ecology") 
				.project-preview__bg 
					+picture('p-4','jpg')
				.project-preview__content  
					.project-preview__category Ecology
					.project-preview__title Georadar survey
						br
						| of archaeological sites of Sudan
				a(href="#").project-preview__more 
			.project-preview(data-filter="Hydrogeology") 
				.project-preview__bg 
					+picture('p-5','jpg')
				.project-preview__content  
					.project-preview__category Hydrogeology
					.project-preview__title Ground-penetrating radar "Neo-dowser" in China.
				a(href="#").project-preview__more
			.project-preview(data-filter="Archaeology") 
				.project-preview__bg 
					+picture('p-6','jpg')
				.project-preview__content  
					.project-preview__category Archaeology
					.project-preview__title Ground-penetrating radar "Neo-dowser" in China.
				a(href="#").project-preview__more
			.project-preview(data-filter="Geoengineering") 
				.project-preview__bg 
					+picture('p-7','jpg')
				.project-preview__content  
					.project-preview__category Geoengineering
					.project-preview__title Ground-penetrating radar "Neo-dowser" in China.
				a(href="#").project-preview__more
			.project-preview(data-filter="Geoengineering")
				.project-preview__bg 
					+picture('p-1','jpg')
				.project-preview__content  
					.project-preview__category Geoengineering
					.project-preview__title Ground-penetrating radar "Neo-dowser" in Giza. Part 1.
				a(href="#").project-preview__more
			.project-preview(data-filter="Geological exploration")
				.project-preview__bg 
					+picture('p-2','jpg')
				.project-preview__content  
					.project-preview__category Geological exploration
					.project-preview__title The Greek well.
				a(href="#").project-preview__more
			.project-preview(data-filter="Archaeology") 
				.project-preview__bg 
					+picture('p-3','jpg')
				.project-preview__content  
					.project-preview__category Archaeology
					.project-preview__title Ground-penetrating radar "Neo-dowser" in Giza. Part 2.
				a(href="#").project-preview__more
			.project-preview(data-filter="Ecology") 
				.project-preview__bg 
					+picture('p-4','jpg')
				.project-preview__content  
					.project-preview__category Ecology
					.project-preview__title Georadar survey
						br
						| of archaeological sites of Sudan
				a(href="#").project-preview__more 
			.project-preview(data-filter="Hydrogeology") 
				.project-preview__bg 
					+picture('p-5','jpg')
				.project-preview__content  
					.project-preview__category Hydrogeology
					.project-preview__title Ground-penetrating radar "Neo-dowser" in China.
				a(href="#").project-preview__more
			.project-preview(data-filter="Archaeology") 
				.project-preview__bg 
					+picture('p-6','jpg')
				.project-preview__content  
					.project-preview__category Archaeology
					.project-preview__title Ground-penetrating radar "Neo-dowser" in China.
				a(href="#").project-preview__more
			.project-preview(data-filter="Geoengineering") 
				.project-preview__bg 
					+picture('p-7','jpg')
				.project-preview__content  
					.project-preview__category Geoengineering
					.project-preview__title Ground-penetrating radar "Neo-dowser" in China.
				a(href="#").project-preview__more
		.our-projects__more show more
	include ../../layout/component/step-3-form/step-3-form
