.t-full-img
	+picture('news-img-1','jpg')
.t-desc
	.t-desc__content
		h2 It uses the  EVOLUTIONAL APPROACH to data transmission and processing – it implements the ability to see and transmit the received data in real time, applies a flexible analysis system: it can adapt the work plan depending on the results obtained.
	.t-desc__right.text
.t-desc-full.block
		.t-desc-full__content
			h2 The ability to 
				color scan ground to depths of 200-300 meters 
				| which does not violate the principle of profiling, the speed of measurements made in combination with the speed and accuracy of data interpretation puts the NEODOWSER method out of competition compared to other radar methods of exploration.
.t-two-img
	.t-two-img__row
		.t-two-img__item 
			.t-two-img__img
				+picture('news-img-2','jpg')
			.t-two-img__desc
				p  The result of the analysis of the georadar section, measured in wave form, using the program "MOLE - 108"
		.t-two-img__item 
			.t-two-img__img
				+picture('news-img-3','jpg')
			.t-two-img__desc
				p Test participants
	.t-two-img__content.text 
		h2 During the first days of work, was discovered a bright object on the slope south of Khafraankh's tomb. 
		p The diffraction picture (radio image) showed that there might be an object (tomb) in this place at a depth of 5-6 meters, consisting of two "rooms" with dimensions of approximately 2.5 x 4 meters. After three days of excavation, “false” doors of the sought-for object appeared under the stone canopy (11/19/06).
	.t-two-img__footer November 08 - 19, 2006, Giza, Cairo, Egypt
.t-table
	tabele 
.t-gallery.swiper
			.swiper-wrapper
				.swiper-slide 
					+picture('radar-1','jpg')
				.swiper-slide 
					+picture('radar-1','jpg')
				.swiper-slide 
					+picture('radar-1','jpg')
				.swiper-slide 
					+picture('radar-1','jpg')
			.t-gallery__nav-prev
			.t-gallery__nav-next
.t-steps-3 
	ul 
		li 
			p guarantees efficiency and high speed of decision-making: the compactness of the equipment makes it possible to move anywhere in the world in a short time;
		li 
			p provides fast data collection and analysis: due to the minimum necessary preparation for the exploration and the speed of passing the site;
		li 
			p guarantees the security and confidentiality of information: the analysis does not draw attention; the obtained data is protected.
.t-two-gray-column
	.t-two-gray-column__it
		p 
			color NEODOWSER method eliminates influence on the object under analysis. 
			| It is an important advantage in comparison to liberally used drilling either during the exploration of karst and landslides or during the detection of underground defects of buildings and constructions. In the first case the drilling method may lead to speeding up the process, in the second case – to the destruction of constructions.
	.t-two-gray-column__it 
		p 
			color The NEODOWSER is implemented in unacceptable conditions for other methods 
			| of geophysics as steep landslide slopes, overgrown unprepared terrain, swampy marshy places, karsts at the bottom of reservoirs, etc.; this all makes it unique among other tools.
.t-ol-column 
	ol 
		li geoengineering and hydrogeological charting of construction sites, technogenic grounds (embankments of roads and railways, airfield runways, dams);
		li georadar exploration of aquatories, identification of thickness of ice sheet;
		li identification and geoengineering characterization of occurrence of dangerous geological processes such as sinkholes, landslides, subsidence, seasonal and perpetually frozen soils, leaks on water and oil pipelines;
		li identification and charting of areas of contamination and emergency underground spills of petroleum products and other dangerous liquids, buried waste and landfills,
		li identification and clarifying of the location of the underground objects, buried in the ground foundations during the design and building new constructions;
		li searching for hidden structural defects of ground structures and grooves;
		li detection of anomalous, technogenic and natural geological formations along the routes of underground pipeline laying using the methods of NSB and HDD, which can make the drifting difficult or impossible;
		li clarifying of the position of existin

.t-about.block
	.t-about__left
		h2 Aboutb
			br
			|TerraDive
	.t-about__right.text 
		h2 A company engaged in GPR exploration (go exploring), where there is a whole geo consulting market, where companies are engaged in the production of a technological plan for the development of deposits.
		hr
		p They have made unique archaeological finds, discovered dozens of deposits, carried out numerous works in the field of engineering geology. Dozens of HDD routes have been laid, many accidents and catastrophes have been prevented by timely detection of the place and the cause of their possible occurrence.
.t-about-2.block
	.t-about-2__left.text 
		h2 
			color The Team of specialists who has invented the method has under its belt hundreds of conducted explorations
			| in different 
			color parts of the world
			br – in Botswana, Germany, Zambia, Zimbabwe, Iran, Kazakhstan, Kyrgyzstan, Namibia, Peru, Russia, Sudan, Tanzania, Turkey, Czech Republic, Chile, South Africa and other countries
	.t-about-2__right.text 
		p It has made unique archeological finds, discovered dozens of deposits, conducted numerous research for engineering geology. Dozens of HDD routes of line were made, many cases of accidents and catastrophes have been prevented by timely detection of the place and the cause of their possible occurrence.
		+picture('about-3','jpg')
