.t-full-img
	+picture('news-img-1','jpg')
.t-two-img
	.t-two-img__row
		.t-two-img__item 
			.t-two-img__img
				+picture('news-img-2','jpg')
			.t-two-img__desc
				p  The result of the analysis of the georadar section, measured in wave form, using the program "MOLE - 108"
		.t-two-img__item 
			.t-two-img__img
				+picture('news-img-3','jpg')
			.t-two-img__desc
				p Test participants

.t-table
	tabele 