body {
	font-family: "Manrope";
	font-style: normal;
	font-weight: 100;
	font-size: 16px;
	line-height: 150%;
	color: #2a2a29;
	letter-spacing: -0.02em;

	&._no-scroll {
		overflow: hidden;
	}
}
img {
	max-width: 100%;
}
* {
	-webkit-box-decoration-break: clone;
	isolation: isolate;
}
@media (min-width: 992px) {
	._v-mob {
		display: none;
	}
}
@media (max-width: 992px) {
	._v-desc {
		display: none;
	}
}
.page {
	overflow: hidden;
	position: relative;
	padding-top: 158px;
	@media (max-width: 992px) {
		padding-top: 100px;
	}
	&::before {
		display: block;
		content: "";

		pointer-events: none;
		background-position: left top;
		background-repeat: repeat-y;
		position: absolute;
		height: 100%;
		width: 32px;
		left: 0;
		top: 0;
		background-image: url("data:image/svg+xml,%3Csvg width='32' height='150' viewBox='0 0 32 150' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='-18' y1='0.5' x2='32' y2='0.5' stroke='%23DADADA'/%3E%3Cline x1='-12' y1='30.5' x2='18' y2='30.5' stroke='%23DADADA'/%3E%3Cline x1='-12' y1='60.5' x2='18' y2='60.5' stroke='%23DADADA'/%3E%3Cline x1='-12' y1='90.5' x2='18' y2='90.5' stroke='%23DADADA'/%3E%3Cline x1='-12' y1='120.5' x2='18' y2='120.5' stroke='%23DADADA'/%3E%3Cline x1='-18' y1='149.5' x2='32' y2='149.5' stroke='rgba(0,0,0,0)'/%3E%3C/svg%3E%0A");
	}
}
._no-top-padding {
	margin-top: -158px;
	@media (max-width: 992px) {
		margin-top: -100px;
	}
}
.container {
	max-width: 1368px;
	padding: 0px 35px;
	margin-left: auto;
	margin-right: auto;
	@media (max-width: 1200px) {
		padding: 0px 20px;
	}
	@media (max-width: 992px) {
		padding: 0px 10px;
	}
}
._hidden {
	display: none !important;
}
.block {
	margin-bottom: 130px;
	@media (max-width: 992px) {
		margin-bottom: 80px;
	}
}
.center {
	text-align: center;
}
.page-inner {
}
