body {
	font-family: "Manrope";
	font-style: normal;
	font-weight: 100;
	font-size: 16px;
	line-height: 150%;
	color: #2a2a29;
	letter-spacing: -0.02em;

	&._no-scroll {
		overflow: hidden;
	}
}
img {
	max-width: 100%;
}
* {
	-webkit-box-decoration-break: clone;
	isolation: isolate;
}
@media (min-width: 992px) {
	._v-mob {
		display: none;
	}
}
@media (max-width: 992px) {
	._v-desc {
		display: none;
	}
}
.page {
	overflow: hidden;
	padding-top: 158px;
	@media (max-width: 992px) {
		padding-top: 100px;
	}
}
._no-top-padding {
	margin-top: -158px;
	@media (max-width: 992px) {
		margin-top: -100px;
	}
}
.container {
	max-width: 1368px;
	padding: 0px 35px;
	margin-left: auto;
	margin-right: auto;
	@media (max-width: 1200px) {
		padding: 0px 20px;
	}
	@media (max-width: 992px) {
		padding: 0px 10px;
	}
}
._hidden {
	display: none !important;
}
.block {
	margin-bottom: 130px;
	@media (max-width: 992px) {
		margin-bottom: 80px;
	}
}
.center {
	text-align: center;
}
.page-inner {
}
