.page-head {
	display: flex;
	padding-bottom: 46px;
	border-bottom: 1px solid #dadada;
	align-items: center;
	.title {
		margin-bottom: 0;
		text-align: left;
	}
	@media (max-width: 992px) {
		padding-bottom: 25px;
	}
}
