extends ../../layout/layout
block title
	title terraDive
block content
		+breadcrumb(['Home',' About company'], 'Item News')
		.stories-page
			img(src="img/blog-bg.svg", alt="").stories-page__bg
			.stories-page__head.page-head 
				h1.title stories
			.stories-list(data-pagination="7") 
				.story-preview._hidden-story
					.story-preview__left 
						.story-preview__episode Episode 1
					.story-preview__right 
						.story-preview__name Kopeikin V.V.
						.story-preview__title How we discovered the spy.
						a(href="story.html").story-preview__link 
				.story-preview._hidden-story
					.story-preview__left 
						.story-preview__episode Episode 2
					.story-preview__right 
						.story-preview__name Kopeikin V.V.
						.story-preview__title How we worked in the Kremlin.
						a(href="story.html").story-preview__link 
				.story-preview._hidden-story
					.story-preview__left 
						.story-preview__episode Episode 3
					.story-preview__right 
						.story-preview__name Morozov P.A.
						.story-preview__title How we searched for the burial of schema-nun Pelageya Lanyaeva.
						a(href="story.html").story-preview__link 
				.story-preview._hidden-story
					.story-preview__left 
						.story-preview__episode Episode 4
					.story-preview__right 
						.story-preview__name Kopeikin V.V.
						.story-preview__title  How we worked with the underwater marine GPR.
						a(href="story.html").story-preview__link 
				.story-preview._hidden-story
					.story-preview__left 
						.story-preview__episode Episode 5
					.story-preview__right 
						.story-preview__name Kurapov S.S.
						.story-preview__title Search for water in Chile.
						a(href="story.html").story-preview__link 
				.story-preview._hidden-story
					.story-preview__left 
						.story-preview__episode Episode 6
					.story-preview__right 
						.story-preview__name Kopeikin V.V.
						.story-preview__title  The Font.
						a(href="story.html").story-preview__link 
				.story-preview._hidden-story
					.story-preview__left 
						.story-preview__episode Episode 7
					.story-preview__right 
						.story-preview__name Morozov P.A.
						.story-preview__title How we searched for underground passages in Troitse-Lykovo.
						a(href="story.html").story-preview__link 
				
				.story-preview._hidden-story
					.story-preview__left 
						.story-preview__episode Episode 8
					.story-preview__right 
						.story-preview__name Kopeikin V.V.
						.story-preview__title How we discovered the spy.
						a(href="story.html").story-preview__link 
				.story-preview._hidden-story
					.story-preview__left 
						.story-preview__episode Episode 9
					.story-preview__right 
						.story-preview__name Kopeikin V.V.
						.story-preview__title How we worked in the Kremlin.
						a(href="story.html").story-preview__link 
				.story-preview._hidden-story
					.story-preview__left 
						.story-preview__episode Episode 10
					.story-preview__right 
						.story-preview__name Morozov P.A.
						.story-preview__title How we searched for the burial of schema-nun Pelageya Lanyaeva.
						a(href="story.html").story-preview__link 
				.story-preview._hidden-story
					.story-preview__left 
						.story-preview__episode Episode 11
					.story-preview__right 
						.story-preview__name Kopeikin V.V.
						.story-preview__title  How we worked with the underwater marine GPR.
						a(href="story.html").story-preview__link 
				.story-preview._hidden-story
					.story-preview__left 
						.story-preview__episode Episode 12
					.story-preview__right 
						.story-preview__name Kurapov S.S.
						.story-preview__title Search for water in Chile.
						a(href="story.html").story-preview__link 
				.story-preview._hidden-story
					.story-preview__left 
						.story-preview__episode Episode 13
					.story-preview__right 
						.story-preview__name Kopeikin V.V.
						.story-preview__title  The Font.
						a(href="story.html").story-preview__link 
				.story-preview._hidden-story
					.story-preview__left 
						.story-preview__episode Episode 14
					.story-preview__right 
						.story-preview__name Morozov P.A.
						.story-preview__title How we searched for underground passages in Troitse-Lykovo.
						a(href="story.html").story-preview__link 
				
				.story-preview._hidden-story
					.story-preview__left 
						.story-preview__episode Episode 15
					.story-preview__right 
						.story-preview__name Kopeikin V.V.
						.story-preview__title How we discovered the spy.
						a(href="story.html").story-preview__link 
				.story-preview._hidden-story
					.story-preview__left 
						.story-preview__episode Episode 16
					.story-preview__right 
						.story-preview__name Kopeikin V.V.
						.story-preview__title How we worked in the Kremlin.
						a(href="story.html").story-preview__link 
				.story-preview._hidden-story
					.story-preview__left 
						.story-preview__episode Episode 17
					.story-preview__right 
						.story-preview__name Morozov P.A.
						.story-preview__title How we searched for the burial of schema-nun Pelageya Lanyaeva.
						a(href="story.html").story-preview__link 
				
				.center 
					button.story-more show-more
