


.header
	.header__full
		.container
			.header__top
				.header__top-row
					a.header__logo(href="/")
						img(src="img/logo.svg", alt="").header__logo-black
						img(src="img/logo-white.svg", alt="").header__logo-white
					a.header__phone(href="tel:89150881384") +7 (915) 088-13-84
					a.header__lang.btn._outline(href="/eng/") En
					a.header__feedback.btn Leave a request
					a.header__mob-toogle
						<svg class="_burger" width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M0.0229492 1H10.0229M0.0229492 8H10.0229M0.0229492 4.5H10.0229" stroke="white"/>
						</svg>
						<svg class="_close" width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M1 1L9 9M1 9L9 1" stroke="#364DE7"/>
						</svg>


			.header__bottom 
				.header__menu-row 
						.header__menu-item._is-dropdown
							a.header__menu-link(href="#") About company
							.header__menu-dropdown 
								.header__menu-dropdown-row 
									.header__menu-dropdown-item
										.header__menu-dropdown-item-bg 
											+picture('header-menu-drop-bg','jpg')
										a.header__menu-dropdown-item-link(href="#") About us 
										.header__menu-dropdown-item-arrow
									.header__menu-dropdown-item
										.header__menu-dropdown-item-bg 
											+picture('header-menu-drop-bg','jpg')
										a.header__menu-dropdown-item-link(href="#") Areas of application 
										.header__menu-dropdown-item-arrow
									.header__menu-dropdown-item
										.header__menu-dropdown-item-bg 
											+picture('header-menu-drop-bg','jpg')
										a.header__menu-dropdown-item-link(href="#") Certificates
										.header__menu-dropdown-item-arrow
									.header__menu-dropdown-item
										.header__menu-dropdown-item-bg 
											+picture('header-menu-drop-bg','jpg')
										a.header__menu-dropdown-item-link(href="#") Partners
										.header__menu-dropdown-item-arrow
						.header__menu-item
							a.header__menu-link(href="#") Uniqueness
						.header__menu-item
							a.header__menu-link(href="#")  Services 
						.header__menu-item
							a.header__menu-link(href="#") Radars
						.header__menu-item
							a.header__menu-link(href="#") Blog
						.header__menu-item
							a.header__menu-link(href="#") Contacts 
	.header__mini
		.container
			.header__fixed 
				.header__menu-row 
		
				a.header__phone(href="tel:89150881384") +7 (915) 088-13-84
				a.header__lang.btn._outline(href="/eng/") En
				a.header__feedback.btn Leave a request

