extends ../../layout/layout
block title
	title terraDive
block content
		+breadcrumb(['Home','About company'], 'Stories')
		.strory-page
			.strory-page__head.page-head
				h1.title Episode 1.
					br 
					| How we discovered the spy.
			.text.block 
				.h2  In the spring of 1995, the Embassy of South Korea asked us if we could determine the presence of underground passages. They explained that their northern neighbors had dug a network of tunnels under the border, which threaten the security of the country and which must be discovered. 
				p We answered this question in the affirmative, because we were just working out a model of a ground-penetrating radar through underground passages partially preserved in the Voronovo estate, which is located several tens of kilometers from our institute.
				p In the morning, several cars with flags stopped near the institute gates. We told the guests who arrived, headed by the ambassador, about our equipment, and then offered to drive to the Voronovo estate to show it in action along real underground passages, however, long ago converted for household needs.
				p By that time, we had not yet had the Grot-5 radar, the first one prepared for small-scale industrial production, but a mock-up made on our knees, which we called the Grot-Zero. His inclusion and further work was perceived as a small success. For this reason, we asked the head of the department who accompanied us to entertain the audience with something while we assembled and checked the equipment. He successfully coped with his task, stating, and then demonstrating that he could safely throw a snowball through the central building of the estate.
				h3 We assembled and tested the device by passing over an underground passage. The "picture" was good and familiar for a long time. My colleague Alexander Shchekotov, who was with the device, barely tore the embassy of the southern country from throwing snowballs.
				p He began to explain to the guests around him: "Here on this screen you will now see the underground passage in the section. First there will be a reflection from .... Reflection from.... Reflection...". And already to my address, since I was with the antenna system: "Stop!!! I can't see anything! Some stripes. Like a transmitter.... At a frequency of one hundred megahertz... just wasn't… Listen, one of these gentlemen has a radio microphone in his pocket!!!".
				p And again to the guests: "Get away from me one by one!" the guests, who did not understand anything, began to move away. The departure of one of them restored the operation of the radar. Alexander Yuryevich Shchekotov pointed his finger at him and said:
				p "He has a radio microphone in his pocket, operating at a frequency of one hundred megahertz." He calculated the frequency of the transmitter from the "grid" that appeared on the screen. We saw an antenna of this range on one of the embassy cars. Everything we said was broadcast there and recorded on a tape recorder. I imagine the difficulties of the translator who analyzed the recordings. Alexander Yurievich delivered his speeches in a more relaxed and unfamiliar foreign version of the Russian language than given above. Only the main meaning of what was said is conveyed here.
				p The guests had a guilty expression on their faces, three of them went to the cars, and the rest perceived the entire further demonstration without much interest. There were no questions, and the embassy delegation went to Moscow. There were no further contacts with the Embassy regarding the discovery of underground passages.
				p Three months later, an episode with the expulsion of a South Korean spy from our country was shown on central television. Everyone who contacted the guests recognized him. It was pointed out to him by the operator of the ground-penetrating radar "Grotto-zero" with the words: "He has a radio microphone in his pocket, operating at a frequency of one hundred megahertz."
				p So we found a spy with the help of ground-penetrating radar.
			.story-preview
				.story-preview__left 
					.story-preview__episode Episode 1
				.story-preview__right 
					.story-preview__name Kopeikin V.V.
					.story-preview__title How we discovered the spy.
					a(href="story.html").story-preview__link 